USE [W_GnBD]
if (7 > isnull((select versindx from FPVcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'FPVCATEGORY_CODCATEGORY', 'codcategory', 1, 1, 0, 1
 UNION ALL
-- Index with origin: $indice.Origem
SELECT 'FPVCATEGORY_A76374DD790F4E80', 'name', 0, 1, 0, 0
UNION ALL
SELECT 'FPVCATEGORY_A76374DD790F4E80','zzState', 0, 0, 1, 0

exec CheckIdxTmp @tabela, 'fpvcategory', 'FPVCATEGORY_CODCATEGORY', 'fpv';
end
GO
if (8 > isnull((select versindx from FPVcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'FPVCOUNTRY_CODCOUNTRY', 'codcountry', 1, 1, 0, 1
 UNION ALL
-- Index with origin: $indice.Origem
SELECT 'FPVCOUNTRY_71693801582449C1', 'name', 0, 1, 0, 0
UNION ALL
SELECT 'FPVCOUNTRY_71693801582449C1','zzState', 0, 0, 1, 0

exec CheckIdxTmp @tabela, 'fpvcountry', 'FPVCOUNTRY_CODCOUNTRY', 'fpv';
end
GO
if (1 > isnull((select versindx from FPVcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'FPVMEM_CODMEM__', 'codmem', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'fpvmem', 'FPVMEM_CODMEM__', 'fpv';
end
GO
if (15 > isnull((select versindx from FPVcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'FPVPERSON_CODPERSON', 'codperson', 1, 1, 0, 1
 UNION ALL
-- Index with origin: $indice.Origem
SELECT 'FPVPERSON_1D5CD94ED0D7442E', 'number', 1, 1, 0, 0
UNION ALL
SELECT 'FPVPERSON_1D5CD94ED0D7442E','zzState', 1, 0, 1, 0
UNION ALL
-- Index with origin: $indice.Origem
SELECT 'FPVPERSON_5CFCFCA635E3494B', 'name', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'fpvperson', 'FPVPERSON_CODPERSON', 'fpv';
end
GO
if (1 > isnull((select versindx from FPVcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'USERLOGIN_CODPSW__', 'codpsw', 1, 1, 0, 1
 UNION ALL
-- Index with origin: $indice.Origem
SELECT 'FPVPSW_A24EA96604FD463F', 'nome', 0, 1, 0, 0
UNION ALL
SELECT 'FPVPSW_A24EA96604FD463F','zzState', 0, 0, 1, 0

exec CheckIdxTmp @tabela, 'userlogin', 'USERLOGIN_CODPSW__', 'fpv';
end
GO
if (1 > isnull((select versindx from FPVcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'ASYNCPROCESS_CODASCPR', 'codascpr', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'asyncprocess', 'ASYNCPROCESS_CODASCPR', 'fpv';
end
GO
if (1 > isnull((select versindx from FPVcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'NOTIFICATIONEMAILSIGNATURE_CODSIGNA', 'codsigna', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'notificationemailsignature', 'NOTIFICATIONEMAILSIGNATURE_CODSIGNA', 'fpv';
end
GO
if (1 > isnull((select versindx from FPVcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'NOTIFICATIONMESSAGE_CODMESGS', 'codmesgs', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'notificationmessage', 'NOTIFICATIONMESSAGE_CODMESGS', 'fpv';
end
GO
if (19 > isnull((select versindx from FPVcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'FPVBRAND_CODBRAND', 'codbrand', 1, 1, 0, 1
 UNION ALL
-- Index with origin: $indice.Origem
SELECT 'FPVBRAND_C2626F9E60A54F33', 'codperson', 0, 1, 0, 0
UNION ALL
-- Index with origin: $indice.Origem
SELECT 'FPVBRAND_B31340561C7D497C', 'name', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'fpvbrand', 'FPVBRAND_CODBRAND', 'fpv';
end
GO
if (8 > isnull((select versindx from FPVcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'FPVPERSONPSW_CODPERSONPSW', 'codpersonpsw', 1, 1, 0, 1
 UNION ALL
-- Index with origin: $indice.Origem
SELECT 'FPVPERSONPSW_2218016BF7374A58', 'codperson', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'fpvpersonpsw', 'FPVPERSONPSW_CODPERSONPSW', 'fpv';
end
GO
if (1 > isnull((select versindx from FPVcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'ASYNCPROCESSARGUMENT_CODARGPR', 'codargpr', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'asyncprocessargument', 'ASYNCPROCESSARGUMENT_CODARGPR', 'fpv';
end
GO
if (1 > isnull((select versindx from FPVcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'ASYNCPROCESSATTACHMENTS_CODPRANX', 'codpranx', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'asyncprocessattachments', 'ASYNCPROCESSATTACHMENTS_CODPRANX', 'fpv';
end
GO
if (1 > isnull((select versindx from FPVcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'USERAUTHORIZATION_CODUA___', 'codua', 1, 1, 0, 1
 UNION ALL
-- Index with origin: $indice.Origem
SELECT 'FPVS_UA_9CA8B14B333C44B0', 'naodupli', 0, 1, 0, 0
UNION ALL
-- Index with origin: $indice.Origem
SELECT 'FPVS_UA_9CA8B14B333C44B0', 'role', 0, 2, 0, 0
UNION ALL
SELECT 'FPVS_UA_9CA8B14B333C44B0','zzState', 0, 0, 1, 0

exec CheckIdxTmp @tabela, 'userauthorization', 'USERAUTHORIZATION_CODUA___', 'fpv';
end
GO
if (18 > isnull((select versindx from FPVcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'FPVSTORE_CODSTORE', 'codstore', 1, 1, 0, 1
 UNION ALL
-- Index with origin: $indice.Origem
SELECT 'FPVSTORE_309D10E7F0FC4905', 'codperson', 0, 1, 0, 0
UNION ALL
-- Index with origin: $indice.Origem
SELECT 'FPVSTORE_309D10E7F0FC4905', 'description', 0, 2, 0, 0
UNION ALL
-- Index with origin: $indice.Origem
SELECT 'FPVSTORE_8B7523DF407340FA', 'name', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'fpvstore', 'FPVSTORE_CODSTORE', 'fpv';
end
GO
if (8 > isnull((select versindx from FPVcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'FPVSUBCATEGORY_CODSUBCATEGORY', 'codsubcategory', 1, 1, 0, 1
 UNION ALL
-- Index with origin: $indice.Origem
SELECT 'FPVSUBCATEGORY_8CBC08C079764A9C', 'name', 0, 1, 0, 0
UNION ALL
-- Index with origin: $indice.Origem
SELECT 'FPVSUBCATEGORY_8CBC08C079764A9C', 'category', 0, 2, 0, 0
UNION ALL
SELECT 'FPVSUBCATEGORY_8CBC08C079764A9C','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: $indice.Origem
SELECT 'FPVSUBCATEGORY_EBEBDE6C4F37460E', 'category', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'fpvsubcategory', 'FPVSUBCATEGORY_CODSUBCATEGORY', 'fpv';
end
GO
if (16 > isnull((select versindx from FPVcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'FPVINVOICE_CODINVOICE', 'codinvoice', 1, 1, 0, 1
 UNION ALL
-- Index with origin: $indice.Origem
SELECT 'FPVINVOICE_686AFEA4D43E4514', 'codinvoicestore', 0, 1, 0, 0
UNION ALL
SELECT 'FPVINVOICE_686AFEA4D43E4514','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: $indice.Origem
SELECT 'FPVINVOICE_7620196BB4D94461', 'store', 0, 1, 0, 0
UNION ALL
SELECT 'FPVINVOICE_7620196BB4D94461','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: $indice.Origem
SELECT 'FPVINVOICE_5079C5A2956B4D90', 'codperson', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'fpvinvoice', 'FPVINVOICE_CODINVOICE', 'fpv';
end
GO
if (14 > isnull((select versindx from FPVcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'FPVITEM_CODITEM_', 'coditem', 1, 1, 0, 1
 UNION ALL
-- Index with origin: $indice.Origem
SELECT 'FPVITEM_0A068D37FD554E66', 'invoice', 0, 1, 0, 0
UNION ALL
SELECT 'FPVITEM_0A068D37FD554E66','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: $indice.Origem
SELECT 'FPVITEM_63A7C20101114724', 'brand', 0, 1, 0, 0
UNION ALL
SELECT 'FPVITEM_63A7C20101114724','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: $indice.Origem
SELECT 'FPVITEM_1F2CFDBB512346FC', 'codperson', 0, 1, 0, 0
UNION ALL
-- Index with origin: $indice.Origem
SELECT 'FPVITEM_1F2CFDBB512346FC', 'created_at', 0, 2, 0, 0

exec CheckIdxTmp @tabela, 'fpvitem', 'FPVITEM_CODITEM_', 'fpv';
end
GO
if (14 > isnull((select versindx from FPVcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'FPVPHOTOALBUM_CODPHOTOALBUM', 'codphotoalbum', 1, 1, 0, 1
 UNION ALL
-- Index with origin: $indice.Origem
SELECT 'FPVPHOTOALBUM_EB0336C03DD047AA', 'codperson', 0, 1, 0, 0
UNION ALL
-- Index with origin: $indice.Origem
SELECT 'FPVPHOTOALBUM_EB0336C03DD047AA', 'created_at', 0, 2, 0, 0
UNION ALL
-- Index with origin: $indice.Origem
SELECT 'FPVPHOTOALBUM_DDF0EF760A264C89', 'item', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'fpvphotoalbum', 'FPVPHOTOALBUM_CODPHOTOALBUM', 'fpv';
end
GO

if (19 > isnull((select versindx from FPVcfg),0) or 'W_GnZeroTrue'='1')
begin
-- Indíces de tabelas hardcoded (continuam da forma antiga [apagar e criar])
if (exists(select top 1 name from sys.indexes where name = 'fpvalerta_alerta01'))
	DROP INDEX fpvalerta_alerta01 ON fpvalerta
CREATE INDEX fpvalerta_alerta01 ON fpvalerta (codaltent)

if (exists(select top 1 name from sys.indexes where name = 'fpvpostit_postit01'))
	DROP INDEX fpvpostit_postit01 ON fpvpostit
CREATE INDEX fpvpostit_postit01 ON fpvpostit (tabela,codtabel)

if (exists(select top 1 name from sys.indexes where name = 'fpvpostit_postit02'))
	DROP INDEX fpvpostit_postit02 ON fpvpostit
CREATE INDEX fpvpostit_postit02 ON fpvpostit (codtabel)

if (exists(select top 1 name from sys.indexes where name = 'fpvpostit_postit03'))
	DROP INDEX fpvpostit_postit03 ON fpvpostit
CREATE INDEX fpvpostit_postit03 ON fpvpostit (postit)

if (exists(select top 1 name from sys.indexes where name = 'fpvpostit_postit04'))
	DROP INDEX fpvpostit_postit04 ON fpvpostit
CREATE INDEX fpvpostit_postit04 ON fpvpostit (tpostit)

if (exists(select top 1 name from sys.indexes where name = 'fpvpostit_postit05'))
	DROP INDEX fpvpostit_postit05 ON fpvpostit
CREATE INDEX fpvpostit_postit05 ON fpvpostit (codpsw)


if (exists(select top 1 name from sys.indexes where name = 'fpvpostit_postit06'))
	DROP INDEX fpvpostit_postit06 ON fpvpostit
CREATE INDEX fpvpostit_postit06 ON fpvpostit (nivel)

if (exists(select top 1 name from sys.indexes where name = 'fpvpostit_postit07'))
	DROP INDEX fpvpostit_postit07 ON fpvpostit
CREATE INDEX fpvpostit_postit07 ON fpvpostit (codpost1)

if (exists(select top 1 name from sys.indexes where name = 'fpvaltent_altent01'))
	DROP INDEX fpvaltent_altent01 ON fpvaltent
CREATE INDEX fpvaltent_altent01 ON fpvaltent (codtalert,tipo)

if (exists(select top 1 name from sys.indexes where name = 'fpvdelega_delega01'))
	DROP INDEX fpvdelega_delega01 ON fpvdelega
CREATE INDEX fpvdelega_delega01 ON fpvdelega (coddelega,codpswup)

if (exists(select top 1 name from sys.indexes where name = 'fpvdelega_delega02'))
	DROP INDEX fpvdelega_delega02 ON fpvdelega
CREATE INDEX fpvdelega_delega02 ON fpvdelega (coddelega,codpswdw)

if (exists(select top 1 name from sys.indexes where name = 'docums_docums01'))
	DROP INDEX docums_docums01 ON docums
CREATE INDEX docums_docums01 ON docums (documid,versao)

if (exists(select top 1 name from sys.indexes where name = 'docums_docums02'))
	DROP INDEX docums_docums02 ON docums
CREATE INDEX docums_docums02 ON docums (nome)


if (exists(select top 1 name from sys.indexes where name = 'docums_docums03'))
	DROP INDEX docums_docums03 ON docums
CREATE INDEX docums_docums03 ON docums (tabela,ZZSTATE)

if (exists(select top 1 name from sys.indexes where name = 'fpvlstusr_codpsw'))
	DROP INDEX fpvlstusr_codpsw ON fpvlstusr
CREATE INDEX fpvlstusr_codpsw ON fpvlstusr (codpsw, descric)

if (exists(select top 1 name from sys.indexes where name = 'fpvlstcol_codlstusr'))
	DROP INDEX fpvlstcol_codlstusr ON fpvlstcol
CREATE INDEX fpvlstcol_codlstusr ON fpvlstcol (codlstusr)

if (exists(select top 1 name from sys.indexes where name = 'fpvlstren_codlstusr'))
	DROP INDEX fpvlstren_codlstusr ON fpvlstren
CREATE INDEX fpvlstren_codlstusr ON fpvlstren (codlstusr)

if (exists(select top 1 name from sys.indexes where name = 'fpvusrwid_codlstusr'))
	DROP INDEX fpvusrwid_codlstusr ON fpvusrwid
CREATE INDEX fpvusrwid_codlstusr ON fpvusrwid (codlstusr)

if (exists(select top 1 name from sys.indexes where name = 'fpvtblcfg_codpsw_uuid_name'))
	DROP INDEX fpvtblcfg_codpsw_uuid_name ON fpvtblcfg
CREATE INDEX fpvtblcfg_codpsw_uuid_name ON fpvtblcfg (codpsw, uuid, name)

if (exists(select top 1 name from sys.indexes where name = 'fpvtblcfg_codpsw_uuid'))
	DROP INDEX fpvtblcfg_codpsw_uuid ON fpvtblcfg
CREATE INDEX fpvtblcfg_codpsw_uuid ON fpvtblcfg (codpsw, uuid)


if (exists(select top 1 name from sys.indexes where name = 'logfpvall_logfpvall01'))
	DROP INDEX logfpvall_logfpvall01 ON logfpvall
CREATE CLUSTERED INDEX [logfpvall_logfpvall01] ON [dbo].[logFPVall]([LOGTABLE] ASC, [LOGFIELD] ASC, [OP] ASC,[DATE] ASC) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]


UPDATE FPVcfg set versindx = 19
end
GO