USE [W_GnBD]

GO

-- migração de dados da tabela FPVCATEGORY (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[FPVCATEGORY] ([CODCATEGORY], [NAME], [DESCRIPTION], [UPDATED_AT], [UPDATED_BY], [CREATED_BY], [CREATED_AT], [ZZSTATE])
SELECT [CATEGORY].[CODCATEGORY], [CATEGORY].[NAME], [CATEGORY].[DESCRIPTION], [CATEGORY].[UPDATED_AT], [CATEGORY].[UPDATED_BY], [CATEGORY].[CREATED_BY], [CATEGORY].[CREATED_AT], [CATEGORY].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[FPVCATEGORY] AS [CATEGORY]
WHERE [CATEGORY].ZZSTATE = 0
GO

-- migração de dados da tabela FPVCOUNTRY (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[FPVCOUNTRY] ([CODCOUNTRY], [NAME], [UPDATED_AT], [UPDATED_BY], [CREATED_BY], [CREATED_AT], [ZZSTATE])
SELECT [COUNTRY].[CODCOUNTRY], [COUNTRY].[NAME], [COUNTRY].[UPDATED_AT], [COUNTRY].[UPDATED_BY], [COUNTRY].[CREATED_BY], [COUNTRY].[CREATED_AT], [COUNTRY].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[FPVCOUNTRY] AS [COUNTRY]
WHERE [COUNTRY].ZZSTATE = 0
GO

-- migração de dados da tabela FPVMEM (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[FPVMEM] ([CODMEM], [LOGIN], [ROTINA], [ALTURA], [OBS], [HOSTID], [CLIENTID], [ZZSTATE])
SELECT [MEM].[CODMEM], [MEM].[LOGIN], [MEM].[ROTINA], [MEM].[ALTURA], [MEM].[OBS], [MEM].[HOSTID], [MEM].[CLIENTID], [MEM].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[FPVMEM] AS [MEM]
WHERE [MEM].ZZSTATE = 0
GO

-- migração de dados da tabela FPVPERSON (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[FPVPERSON] ([CODPERSON], [NAME], [PHOTO], [GENDER], [EMAIL], [UPDATED_AT], [UPDATED_BY], [CREATED_BY], [CREATED_AT], [BIRTHDAY], [TELEPHONE], [ZZSTATE])
SELECT [PERSON].[CODPERSON], [PERSON].[NAME], [PERSON].[PHOTO], [PERSON].[GENDER], [PERSON].[EMAIL], [PERSON].[UPDATED_AT], [PERSON].[UPDATED_BY], [PERSON].[CREATED_BY], [PERSON].[CREATED_AT], [PERSON].[BIRTHDAY], [PERSON].[TELEPHONE], [PERSON].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[FPVPERSON] AS [PERSON]
WHERE [PERSON].ZZSTATE = 0
GO

-- migração de dados da tabela UserLogin (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[UserLogin] ([CODPSW], [NOME], [PASSWORD], [CERTSN], [EMAIL], [PSWTYPE], [SALT], [DATAPSW], [USERID], [PSW2FAVL], [PSW2FATP], [DATEXP], [ATTEMPTS], [PHONE], [STATUS], [ASSOCIA], [OPERCRIA], [DATACRIA], [OPERMUDA], [DATAMUDA], [ZZSTATE])
SELECT [PSW].[CODPSW], [PSW].[NOME], [PSW].[PASSWORD], [PSW].[CERTSN], [PSW].[EMAIL], [PSW].[PSWTYPE], [PSW].[SALT], [PSW].[DATAPSW], [PSW].[USERID], [PSW].[PSW2FAVL], [PSW].[PSW2FATP], [PSW].[DATEXP], [PSW].[ATTEMPTS], [PSW].[PHONE], [PSW].[STATUS], [PSW].[ASSOCIA], [PSW].[OPERCRIA], [PSW].[DATACRIA], [PSW].[OPERMUDA], [PSW].[DATAMUDA], [PSW].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[UserLogin] AS [PSW]
WHERE [PSW].ZZSTATE = 0
GO

-- migração de dados da tabela AsyncProcess (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[AsyncProcess] ([CODASCPR], [TYPE], [DATEREQU], [INITPRC], [ENDPRC], [DURATION], [STATUS], [RSLTMSG], [FINISHED], [LASTUPDT], [RESULT], [INFO], [PERCENTA], [MODOPROC], [EXTERNAL], [ID], [CODENTIT], [MOTIVO], [CODPSW], [OPERSHUT], [OPERCRIA], [DATACRIA], [OPERMUDA], [DATAMUDA], [ZZSTATE])
SELECT [S_APR].[CODASCPR], [S_APR].[TYPE], [S_APR].[DATEREQU], [S_APR].[INITPRC], [S_APR].[ENDPRC], [S_APR].[DURATION], [S_APR].[STATUS], [S_APR].[RSLTMSG], [S_APR].[FINISHED], [S_APR].[LASTUPDT], [S_APR].[RESULT], [S_APR].[INFO], [S_APR].[PERCENTA], [S_APR].[MODOPROC], [S_APR].[EXTERNAL], [S_APR].[ID], [S_APR].[CODENTIT], [S_APR].[MOTIVO], [S_APR].[CODPSW], [S_APR].[OPERSHUT], [S_APR].[OPERCRIA], [S_APR].[DATACRIA], [S_APR].[OPERMUDA], [S_APR].[DATAMUDA], [S_APR].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[AsyncProcess] AS [S_APR]
WHERE [S_APR].ZZSTATE = 0
GO

-- migração de dados da tabela NotificationEmailSignature (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[NotificationEmailSignature] ([CODSIGNA], [NAME], [IMAGE], [TEXTASS], [USERNAME], [PASSWORD], [OPERCRIA], [DATACRIA], [OPERMUDA], [DATAMUDA], [ZZSTATE])
SELECT [S_NES].[CODSIGNA], [S_NES].[NAME], [S_NES].[IMAGE], [S_NES].[TEXTASS], [S_NES].[USERNAME], [S_NES].[PASSWORD], [S_NES].[OPERCRIA], [S_NES].[DATACRIA], [S_NES].[OPERMUDA], [S_NES].[DATAMUDA], [S_NES].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[NotificationEmailSignature] AS [S_NES]
WHERE [S_NES].ZZSTATE = 0
GO

-- migração de dados da tabela NotificationMessage (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[NotificationMessage] ([CODMESGS], [CODSIGNA], [CODPMAIL], [FROM], [CODTPNOT], [CODDESTN], [TO], [DESTNMAN], [TOMANUAL], [CC], [BCC], [IDNOTIF], [NOTIFICA], [EMAIL], [ASSUNTO], [AGREGADO], [ANEXO], [HTML], [ATIVO], [DESIGNAC], [MENSAGEM], [GRAVABD], [OPERCRIA], [DATACRIA], [OPERMUDA], [DATAMUDA], [ZZSTATE])
SELECT [S_NM].[CODMESGS], [S_NM].[CODSIGNA], [S_NM].[CODPMAIL], [S_NM].[FROM], [S_NM].[CODTPNOT], [S_NM].[CODDESTN], [S_NM].[TO], [S_NM].[DESTNMAN], [S_NM].[TOMANUAL], [S_NM].[CC], [S_NM].[BCC], [S_NM].[IDNOTIF], [S_NM].[NOTIFICA], [S_NM].[EMAIL], [S_NM].[ASSUNTO], [S_NM].[AGREGADO], [S_NM].[ANEXO], [S_NM].[HTML], [S_NM].[ATIVO], [S_NM].[DESIGNAC], [S_NM].[MENSAGEM], [S_NM].[GRAVABD], [S_NM].[OPERCRIA], [S_NM].[DATACRIA], [S_NM].[OPERMUDA], [S_NM].[DATAMUDA], [S_NM].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[NotificationMessage] AS [S_NM]
WHERE [S_NM].ZZSTATE = 0
GO

-- migração de dados da tabela FPVBRAND (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[FPVBRAND] ([CODBRAND], [NAME], [COUNTRY], [LOGOTYPE], [DESCRIPTION], [UPDATED_AT], [UPDATED_BY], [CREATED_BY], [CREATED_AT], [ZZSTATE])
SELECT [BRAND].[CODBRAND], [BRAND].[NAME], [BRAND].[COUNTRY], [BRAND].[LOGOTYPE], [BRAND].[DESCRIPTION], [BRAND].[UPDATED_AT], [BRAND].[UPDATED_BY], [BRAND].[CREATED_BY], [BRAND].[CREATED_AT], [BRAND].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[FPVBRAND] AS [BRAND]
WHERE [BRAND].ZZSTATE = 0
GO

-- migração de dados da tabela FPVPERSONPSW (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[FPVPERSONPSW] ([CODPERSONPSW], [CODPERSON], [CODPSW], [UPDATED_AT], [UPDATED_BY], [CREATED_BY], [CREATED_AT], [ZZSTATE])
SELECT [PERSONPSW].[CODPERSONPSW], [PERSONPSW].[CODPERSON], [PERSONPSW].[CODPSW], [PERSONPSW].[UPDATED_AT], [PERSONPSW].[UPDATED_BY], [PERSONPSW].[CREATED_BY], [PERSONPSW].[CREATED_AT], [PERSONPSW].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[FPVPERSONPSW] AS [PERSONPSW]
WHERE [PERSONPSW].ZZSTATE = 0
GO

-- migração de dados da tabela AsyncProcessArgument (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[AsyncProcessArgument] ([CODARGPR], [CODS_APR], [ID], [VALOR], [DOCUMENT], [DOCUMENTFK], [TIPO], [DESIGNAC], [HIDDEN], [OPERCRIA], [DATACRIA], [OPERMUDA], [DATAMUDA], [ZZSTATE])
SELECT [S_ARG].[CODARGPR], [S_ARG].[CODS_APR], [S_ARG].[ID], [S_ARG].[VALOR], [S_ARG].[DOCUMENT], [S_ARG].[DOCUMENTFK], [S_ARG].[TIPO], [S_ARG].[DESIGNAC], [S_ARG].[HIDDEN], [S_ARG].[OPERCRIA], [S_ARG].[DATACRIA], [S_ARG].[OPERMUDA], [S_ARG].[DATAMUDA], [S_ARG].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[AsyncProcessArgument] AS [S_ARG]
WHERE [S_ARG].ZZSTATE = 0
GO

-- migração de dados da tabela AsyncProcessAttachments (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[AsyncProcessAttachments] ([CODPRANX], [CODS_APR], [DOCUMENT], [DOCUMENTFK], [OPERCRIA], [DATACRIA], [ZZSTATE])
SELECT [S_PAX].[CODPRANX], [S_PAX].[CODS_APR], [S_PAX].[DOCUMENT], [S_PAX].[DOCUMENTFK], [S_PAX].[OPERCRIA], [S_PAX].[DATACRIA], [S_PAX].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[AsyncProcessAttachments] AS [S_PAX]
WHERE [S_PAX].ZZSTATE = 0
GO

-- migração de dados da tabela UserAuthorization (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[UserAuthorization] ([CODUA], [CODPSW], [SISTEMA], [MODULO], [NAODUPLI], [ROLE], [NIVEL], [OPERCRIA], [DATACRIA], [OPERMUDA], [DATAMUDA], [ZZSTATE])
SELECT [S_UA].[CODUA], [S_UA].[CODPSW], [S_UA].[SISTEMA], [S_UA].[MODULO], [S_UA].[NAODUPLI], [S_UA].[ROLE], [S_UA].[NIVEL], [S_UA].[OPERCRIA], [S_UA].[DATACRIA], [S_UA].[OPERMUDA], [S_UA].[DATAMUDA], [S_UA].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[UserAuthorization] AS [S_UA]
WHERE [S_UA].ZZSTATE = 0
GO

-- migração de dados da tabela FPVSTORE (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[FPVSTORE] ([CODSTORE], [NAME], [SITE], [CURRENCY], [COUNTRY], [LOGOTYPE], [DESCRIPTION], [UPDATED_AT], [UPDATED_BY], [CREATED_BY], [CREATED_AT], [ZZSTATE])
SELECT [STORE].[CODSTORE], [STORE].[NAME], [STORE].[SITE], [STORE].[CURRENCY], [STORE].[COUNTRY], [STORE].[LOGOTYPE], [STORE].[DESCRIPTION], [STORE].[UPDATED_AT], [STORE].[UPDATED_BY], [STORE].[CREATED_BY], [STORE].[CREATED_AT], [STORE].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[FPVSTORE] AS [STORE]
WHERE [STORE].ZZSTATE = 0
GO

-- migração de dados da tabela FPVSUBCATEGORY (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[FPVSUBCATEGORY] ([CODSUBCATEGORY], [NAME], [CATEGORY], [DESCRIPTION], [UPDATED_AT], [UPDATED_BY], [CREATED_BY], [CREATED_AT], [ZZSTATE])
SELECT [SUBCATEGORY].[CODSUBCATEGORY], [SUBCATEGORY].[NAME], [SUBCATEGORY].[CATEGORY], [SUBCATEGORY].[DESCRIPTION], [SUBCATEGORY].[UPDATED_AT], [SUBCATEGORY].[UPDATED_BY], [SUBCATEGORY].[CREATED_BY], [SUBCATEGORY].[CREATED_AT], [SUBCATEGORY].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[FPVSUBCATEGORY] AS [SUBCATEGORY]
WHERE [SUBCATEGORY].ZZSTATE = 0
GO

-- migração de dados da tabela FPVINVOICE (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[FPVINVOICE] ([CODINVOICE], [PRICE], [SHIPPINGCOST], [TAXES], [TOTALPRICE], [NUMBEROFITEMS], [STORE], [DATE], [RECEIPT], [RECEIPTFK], [UPDATED_AT], [UPDATED_BY], [CREATED_BY], [CREATED_AT], [CODINVOICESTORE], [CODPERSON], [ZZSTATE])
SELECT [INVOICE].[CODINVOICE], [INVOICE].[PRICE], [INVOICE].[SHIPPINGCOST], [INVOICE].[TAXES], [INVOICE].[TOTALPRICE], [INVOICE].[NUMBEROFITEMS], [INVOICE].[STORE], [INVOICE].[DATE], [INVOICE].[RECEIPT], [INVOICE].[RECEIPTFK], [INVOICE].[UPDATED_AT], [INVOICE].[UPDATED_BY], [INVOICE].[CREATED_BY], [INVOICE].[CREATED_AT], [INVOICE].[CODINVOICESTORE], [INVOICE].[CODPERSON], [INVOICE].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[FPVINVOICE] AS [INVOICE]
WHERE [INVOICE].ZZSTATE = 0
GO

-- migração de dados da tabela FPVITEM (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[FPVITEM] ([CODITEM], [NAME], [QUANTITY], [UNITPRICE], [TOTALPRICE], [BRAND], [CATEGORY], [SUBCATEGORY], [INVOICE], [UPDATED_AT], [UPDATED_BY], [CREATED_BY], [CREATED_AT], [ZZSTATE])
SELECT [ITEM].[CODITEM], [ITEM].[NAME], [ITEM].[QUANTITY], [ITEM].[UNITPRICE], [ITEM].[TOTALPRICE], [ITEM].[BRAND], [ITEM].[CATEGORY], [ITEM].[SUBCATEGORY], [ITEM].[INVOICE], [ITEM].[UPDATED_AT], [ITEM].[UPDATED_BY], [ITEM].[CREATED_BY], [ITEM].[CREATED_AT], [ITEM].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[FPVITEM] AS [ITEM]
WHERE [ITEM].ZZSTATE = 0
GO

-- migração de dados da tabela FPVPHOTOALBUM (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[FPVPHOTOALBUM] ([CODPHOTOALBUM], [TITLE], [PHOTO], [ITEM], [UPDATED_AT], [UPDATED_BY], [CREATED_BY], [CREATED_AT], [ZZSTATE])
SELECT [PHOTOALBUM].[CODPHOTOALBUM], [PHOTOALBUM].[TITLE], [PHOTOALBUM].[PHOTO], [PHOTOALBUM].[ITEM], [PHOTOALBUM].[UPDATED_AT], [PHOTOALBUM].[UPDATED_BY], [PHOTOALBUM].[CREATED_BY], [PHOTOALBUM].[CREATED_AT], [PHOTOALBUM].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[FPVPHOTOALBUM] AS [PHOTOALBUM]
WHERE [PHOTOALBUM].ZZSTATE = 0
GO

-- Tabelas Hardcoded
-- migração de dados da tabela Codigos Sequenciais
INSERT INTO [W_GnBD].[dbo].[Codigos_Sequenciais] (id_objecto, proximo)
SELECT id_objecto, proximo FROM [W_GnSrcBD].[dbo].[Codigos_Sequenciais]
GO

-- migração de dados da tabela UserAuthorization
INSERT INTO [W_GnBD].[dbo].[UserAuthorization] (CODUA, CODPSW, SISTEMA, MODULO, ROLE, NIVEL, ZZSTATE)
SELECT UA.CODUA, UA.CODPSW, UA.SISTEMA, UA.MODULO, UA.ROLE, UA.NIVEL, UA.ZZSTATE FROM [W_GnSrcBD].[dbo].[UserAuthorization] AS UA
WHERE UA.ZZSTATE = 0
GO

-- migração de dados da tabela CFG (ao criar schema, fica criada uma linha nesta tabela)
--INSERT INTO [W_GnBD].[dbo].[FPVcfg] (codcfg, checkdat, versao, versindx, manutdat, upgrindx, ZZSTATE)
--SELECT codcfg, checkdat, versao, versindx, manutdat, upgrindx, ZZSTATE FROM [W_GnSrcBD].[dbo].[FPVcfg]
--WHERE ZZSTATE = 0
--GO

-- migração de dados da tabela LSTUSR
INSERT INTO [W_GnBD].[dbo].[FPVlstusr] (CODLSTUSR, CODPSW, DESCRIC, IDLIST, MODULO, SISTEMA, ORDERCOL, ORDERTYPE, [DATA], ZZSTATE)
SELECT CODLSTUSR, CODPSW, DESCRIC, IDLIST, MODULO, SISTEMA, ORDERCOL, ORDERTYPE, [DATA], ZZSTATE FROM [W_GnSrcBD].[dbo].[FPVlstusr]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela LSTCOL
INSERT INTO [W_GnBD].[dbo].[FPVlstcol] (CODLSTCOL, CODLSTUSR, TABELA, ALIAS, CAMPO, VISIVEL, POSICAO, OPERACAO, TIPO, ZZSTATE)
SELECT CODLSTCOL, CODLSTUSR, TABELA, ALIAS, CAMPO, VISIVEL, POSICAO, OPERACAO, TIPO, ZZSTATE FROM [W_GnSrcBD].[dbo].[FPVlstcol]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela LSTREN
INSERT INTO [W_GnBD].[dbo].[FPVlstren] (CODLSTREN, CODLSTUSR, RENDERIZACAO, VISIVEL, POSICAO, OPERACAO, TIPO, ZZSTATE)
SELECT CODLSTREN, CODLSTUSR, RENDERIZACAO, VISIVEL, POSICAO, OPERACAO, TIPO, ZZSTATE FROM [W_GnSrcBD].[dbo].[FPVlstren]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela USRWID
INSERT INTO [W_GnBD].[dbo].[FPVusrwid] (CODUSRWID, CODLSTUSR, WIDGET, ROWKEY, VISIBLE, HPOSITION, VPOSITION, ZZSTATE)
SELECT CODUSRWID, CODLSTUSR, WIDGET, ROWKEY, VISIBLE, HPOSITION, VPOSITION, ZZSTATE FROM [W_GnSrcBD].[dbo].[FPVusrwid]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela USRCFG
INSERT INTO [W_GnBD].[dbo].[FPVusrcfg] (codusrcfg, modulo, codpsw, tipo, id, ZZSTATE)
SELECT codusrcfg, modulo, codpsw, tipo, id, ZZSTATE FROM [W_GnSrcBD].[dbo].[FPVusrcfg]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela USRSET
INSERT INTO [W_GnBD].[dbo].[FPVusrset] (codusrset, modulo, codpsw, chave, valor, ZZSTATE)
SELECT codusrset, modulo, codpsw, chave, valor, ZZSTATE FROM [W_GnSrcBD].[dbo].[FPVusrset]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela WKFACT
INSERT INTO [W_GnBD].[dbo].[FPVwkfact] (codwkfact, wfid, actid, tpactid, descrica, duracao, perfil, perfilu, x, y, ZZSTATE)
SELECT codwkfact, wfid, actid, tpactid, descrica, duracao, perfil, perfilu, x, y, ZZSTATE FROM [W_GnSrcBD].[dbo].[FPVwkfact]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela WKFCON
INSERT INTO [W_GnBD].[dbo].[FPVwkfcon] (codwkfcon, wfid, condid, tpcondid, descrica, tiporegr, sinal, x, y, valor, ZZSTATE)
SELECT codwkfcon, wfid, condid, tpcondid, descrica, tiporegr, sinal, x, y, valor, ZZSTATE FROM [W_GnSrcBD].[dbo].[FPVwkfcon]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela WKFLIG
INSERT INTO [W_GnBD].[dbo].[FPVwkflig] (codwkflig, wfid, parentid, childid, ptoy, ptox, ptor, tipo, pfromx, pfromy, pfromr, ZZSTATE)
SELECT codwkflig, wfid, parentid, childid, ptoy, ptox, ptor, tipo, pfromx, pfromy, pfromr, ZZSTATE FROM [W_GnSrcBD].[dbo].[FPVwkflig]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela WKFLOW
INSERT INTO [W_GnBD].[dbo].[FPVwkflow] (codwkflow, descrica, modulo, ZZSTATE)
SELECT codwkflow, descrica, modulo, ZZSTATE FROM [W_GnSrcBD].[dbo].[FPVwkflow]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela NOTIFI
INSERT INTO [W_GnBD].[dbo].[FPVnotifi] (codnotifi, modulo, descrica, activid, menuid, usernivl, wfid, ZZSTATE)
SELECT codnotifi, modulo, descrica, activid, menuid, usernivl, wfid, ZZSTATE FROM [W_GnSrcBD].[dbo].[FPVnotifi]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela PRMFRM
INSERT INTO [W_GnBD].[dbo].[FPVprmfrm] (codprmfrm, desform, perfil, autoriza, sevalida, prfvalid, prazodia, comprova, prazohor, secompro, mensag1, mensag2, mensag3, mensag4, ZZSTATE)
SELECT codprmfrm, desform, perfil, autoriza, sevalida, prfvalid, prazodia, comprova, prazohor, secompro, mensag1, mensag2, mensag3, mensag4, ZZSTATE FROM [W_GnSrcBD].[dbo].[FPVprmfrm]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela SCRCRD
INSERT INTO [W_GnBD].[dbo].[FPVscrcrd] (codscrcrd, descrica, valor, cor, seta, usernivl, ZZSTATE)
SELECT codscrcrd, descrica, valor, cor, seta, usernivl, ZZSTATE FROM [W_GnSrcBD].[dbo].[FPVscrcrd]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela DOCUMS
INSERT INTO [W_GnBD].[dbo].[docums] (coddocums, documid, document, docpath, tabela, campo, chave, form, nome, versao, tamanho, extensao, opercria, datacria, opermuda, datamuda, ZZSTATE)
SELECT coddocums, documid, document, docpath, tabela, campo, chave, form, nome, versao, tamanho, extensao, opercria, datacria, opermuda, datamuda, ZZSTATE FROM [W_GnSrcBD].[dbo].[docums]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela POSTIT
INSERT INTO [W_GnBD].[dbo].[FPVpostit] (codpostit, tabela, codtabel, postit, tpostit, datacria, opercria, codpsw, lido, apagado, validade, nivel, codpost1, ZZSTATE)
SELECT codpostit, tabela, codtabel, postit, tpostit, datacria, opercria, codpsw, lido, apagado, validade, nivel, codpost1, ZZSTATE FROM [W_GnSrcBD].[dbo].[FPVpostit]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela HASHCD
INSERT INTO [W_GnBD].[dbo].[hashcd] (codhashcd, tabela, campos, datacria, ZZSTATE)
SELECT codhashcd, tabela, campos, datacria, ZZSTATE FROM [W_GnSrcBD].[dbo].[hashcd]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela ALERTA
INSERT INTO [W_GnBD].[dbo].[FPValerta] (codalerta, codaltent, mensagem, tratado, activo, datacria, datareso, menu, cor, interno, backgrou, sms, email, emailenv, smsenvia, codigo, codigotp, ZZSTATE)
SELECT codalerta, codaltent, mensagem, tratado, activo, datacria, datareso, menu, cor, interno, backgrou, sms, email, emailenv, smsenvia, codigo, codigotp, ZZSTATE FROM [W_GnSrcBD].[dbo].[FPValerta]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela ALTENT
INSERT INTO [W_GnBD].[dbo].[FPValtent] (codaltent, codtalert, codpsw, grupo, contador, tipo, mensagem, antecede, datainic, datafina, dtmodifi, todos, backgrou, sms, email, codtpgru, codtpess, menu, incluian, activo, individu, ZZSTATE)
SELECT codaltent, codtalert, codpsw, grupo, contador, tipo, mensagem, antecede, datainic, datafina, dtmodifi, todos, backgrou, sms, email, codtpgru, codtpess, menu, incluian, activo, individu, ZZSTATE FROM [W_GnSrcBD].[dbo].[FPValtent]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela TALERT
INSERT INTO [W_GnBD].[dbo].[FPVtalert] (codtalert, nome, metodo, priorida, cor, texto, menu, cmpnome, daltinic, daltfina, incluian, diferenc, anodifer, mesdifer, diadifer, ntabmae, ntabfilh, formid, tabela, campo, tipo, modulo, condicao, ZZSTATE)
SELECT codtalert, nome, metodo, priorida, cor, texto, menu, cmpnome, daltinic, daltfina, incluian, diferenc, anodifer, mesdifer, diadifer, ntabmae, ntabfilh, formid, tabela, campo, tipo, modulo, condicao, ZZSTATE FROM [W_GnSrcBD].[dbo].[FPVtalert]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela DELEGA
INSERT INTO [W_GnBD].[dbo].[FPVdelega] (coddelega, codpswup, codpswdw, dateini, dateend, message, revoked, auditusr, opercria, datacria, opermuda, datamuda, ZZSTATE)
SELECT coddelega, codpswup, codpswdw, dateini, dateend, message, revoked, auditusr, opercria, datacria, opermuda, datamuda, ZZSTATE FROM [W_GnSrcBD].[dbo].[FPVdelega]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela TABDINAMIC
INSERT INTO [W_GnBD].[dbo].[FPVTABDINAMIC] (codtabdinamic, NOMETABELA, NOMECAMPO, TIPODADOS, TIPOSQL, LARGURA, ZZSTATE)
SELECT codtabdinamic, NOMETABELA, NOMECAMPO, TIPODADOS, TIPOSQL, LARGURA, ZZSTATE FROM [W_GnSrcBD].[dbo].[FPVTABDINAMIC]
WHERE ZZSTATE = 0
GO


-- migração de dados da tabela ALTRAN
INSERT INTO [W_GnBD].[dbo].[FPValtran] (codaltran, typlabel, referenc, [language], curlabel, labellng, altran, opercria, datacria, opermuda, datamuda, ZZSTATE)
SELECT codaltran, typlabel, referenc, [language], curlabel, labellng, altran, opercria, datacria, opermuda, datamuda, ZZSTATE FROM [W_GnSrcBD].[dbo].[FPValtran]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela WORKFLOWTASK
INSERT INTO [W_GnBD].[dbo].[FPVworkflowtask] (codtask, codprcess, taskdefid, taskid, performedby, runningsince, nextrun, modifieddate, modifiedby, skipped, isactive, errorExecute, ZZSTATE)
SELECT codtask, codprcess, taskdefid, taskid, performedby, runningsince, nextrun, modifieddate, modifiedby, skipped, isactive, errorExecute, ZZSTATE FROM [W_GnSrcBD].[dbo].[FPVworkflowtask]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela WORKFLOWPROCESS
INSERT INTO [W_GnBD].[dbo].[FPVworkflowprocess] (codprcess, prcessid, prcessdefid, createdby, status, startdate, modifieddate, modifiedby, codinstance, dotgraph, wferror, ltask, idhk, ZZSTATE)
SELECT codprcess, prcessid, prcessdefid, createdby, status, startdate, modifieddate, modifiedby, codinstance, dotgraph, wferror, ltask, idhk, ZZSTATE FROM [W_GnSrcBD].[dbo].[FPVworkflowprocess]
WHERE ZZSTATE = 0
GO


USE [W_GnBD]
GO
-- Removing invalid FK values
UPDATE [BRAND] SET
[BRAND].[COUNTRY] = [q0_COUNTRY].[CODCOUNTRY]
 FROM [W_GnBD].[dbo].[FPVBRAND] AS [BRAND]
LEFT JOIN [FPVCOUNTRY] AS [q0_COUNTRY] ON [BRAND].[COUNTRY] = [q0_COUNTRY].[CODCOUNTRY]
GO

UPDATE [PERSONPSW] SET
[PERSONPSW].[CODPERSON] = [q0_PERSON].[CODPERSON]
, [PERSONPSW].[CODPSW] = [q1_PSW].[CODPSW]
 FROM [W_GnBD].[dbo].[FPVPERSONPSW] AS [PERSONPSW]
LEFT JOIN [FPVPERSON] AS [q0_PERSON] ON [PERSONPSW].[CODPERSON] = [q0_PERSON].[CODPERSON]
LEFT JOIN [UserLogin] AS [q1_PSW] ON [PERSONPSW].[CODPSW] = [q1_PSW].[CODPSW]
GO

UPDATE [S_ARG] SET
[S_ARG].[CODS_APR] = [q0_S_APR].[CODASCPR]
 FROM [W_GnBD].[dbo].[AsyncProcessArgument] AS [S_ARG]
LEFT JOIN [AsyncProcess] AS [q0_S_APR] ON [S_ARG].[CODS_APR] = [q0_S_APR].[CODASCPR]
GO

UPDATE [S_PAX] SET
[S_PAX].[CODS_APR] = [q0_S_APR].[CODASCPR]
 FROM [W_GnBD].[dbo].[AsyncProcessAttachments] AS [S_PAX]
LEFT JOIN [AsyncProcess] AS [q0_S_APR] ON [S_PAX].[CODS_APR] = [q0_S_APR].[CODASCPR]
GO

UPDATE [S_UA] SET
[S_UA].[CODPSW] = [q0_PSW].[CODPSW]
 FROM [W_GnBD].[dbo].[UserAuthorization] AS [S_UA]
LEFT JOIN [UserLogin] AS [q0_PSW] ON [S_UA].[CODPSW] = [q0_PSW].[CODPSW]
GO

UPDATE [STORE] SET
[STORE].[COUNTRY] = [q0_COUNTRY].[CODCOUNTRY]
 FROM [W_GnBD].[dbo].[FPVSTORE] AS [STORE]
LEFT JOIN [FPVCOUNTRY] AS [q0_COUNTRY] ON [STORE].[COUNTRY] = [q0_COUNTRY].[CODCOUNTRY]
GO

UPDATE [SUBCATEGORY] SET
[SUBCATEGORY].[CATEGORY] = [q0_CATEGORY].[CODCATEGORY]
 FROM [W_GnBD].[dbo].[FPVSUBCATEGORY] AS [SUBCATEGORY]
LEFT JOIN [FPVCATEGORY] AS [q0_CATEGORY] ON [SUBCATEGORY].[CATEGORY] = [q0_CATEGORY].[CODCATEGORY]
GO

UPDATE [INVOICE] SET
[INVOICE].[CODPERSON] = [q0_PERSON].[CODPERSON]
, [INVOICE].[STORE] = [q1_STORE].[CODSTORE]
 FROM [W_GnBD].[dbo].[FPVINVOICE] AS [INVOICE]
LEFT JOIN [FPVPERSON] AS [q0_PERSON] ON [INVOICE].[CODPERSON] = [q0_PERSON].[CODPERSON]
LEFT JOIN [FPVSTORE] AS [q1_STORE] ON [INVOICE].[STORE] = [q1_STORE].[CODSTORE]
GO

UPDATE [ITEM] SET
[ITEM].[BRAND] = [q0_BRAND].[CODBRAND]
, [ITEM].[CATEGORY] = [q1_CATEGORY].[CODCATEGORY]
, [ITEM].[INVOICE] = [q2_INVOICE].[CODINVOICE]
, [ITEM].[SUBCATEGORY] = [q3_SUBCATEGORY].[CODSUBCATEGORY]
 FROM [W_GnBD].[dbo].[FPVITEM] AS [ITEM]
LEFT JOIN [FPVBRAND] AS [q0_BRAND] ON [ITEM].[BRAND] = [q0_BRAND].[CODBRAND]
LEFT JOIN [FPVCATEGORY] AS [q1_CATEGORY] ON [ITEM].[CATEGORY] = [q1_CATEGORY].[CODCATEGORY]
LEFT JOIN [FPVINVOICE] AS [q2_INVOICE] ON [ITEM].[INVOICE] = [q2_INVOICE].[CODINVOICE]
LEFT JOIN [FPVSUBCATEGORY] AS [q3_SUBCATEGORY] ON [ITEM].[SUBCATEGORY] = [q3_SUBCATEGORY].[CODSUBCATEGORY]
GO

UPDATE [PHOTOALBUM] SET
[PHOTOALBUM].[ITEM] = [q0_ITEM].[CODITEM]
 FROM [W_GnBD].[dbo].[FPVPHOTOALBUM] AS [PHOTOALBUM]
LEFT JOIN [FPVITEM] AS [q0_ITEM] ON [PHOTOALBUM].[ITEM] = [q0_ITEM].[CODITEM]
GO


USE [W_GnBD]

GO
