USE [W_GnBD]
ALTER TABLE [dbo].[ASYNCPROCESSARGUMENT] WITH NOCHECK ADD CONSTRAINT [FK_ASYNCPROCESSARGUMENT_CODS_APR_ASYNCPROCESS_CODASCPR] FOREIGN KEY([CODS_APR]) REFERENCES [dbo].[ASYNCPROCESS] ([CODASCPR])
ALTER TABLE [dbo].[ASYNCPROCESSARGUMENT] NOCHECK CONSTRAINT [FK_ASYNCPROCESSARGUMENT_CODS_APR_ASYNCPROCESS_CODASCPR]

ALTER TABLE [dbo].[ASYNCPROCESSATTACHMENTS] WITH NOCHECK ADD CONSTRAINT [FK_ASYNCPROCESSATTACHMENTS_CODS_APR_ASYNCPROCESS_CODASCPR] FOREIGN KEY([CODS_APR]) REFERENCES [dbo].[ASYNCPROCESS] ([CODASCPR])
ALTER TABLE [dbo].[ASYNCPROCESSATTACHMENTS] NOCHECK CONSTRAINT [FK_ASYNCPROCESSATTACHMENTS_CODS_APR_ASYNCPROCESS_CODASCPR]

ALTER TABLE [dbo].[USERAUTHORIZATION] WITH NOCHECK ADD CONSTRAINT [FK_USERAUTHORIZATION_CODPSW_USERLOGIN_CODPSW] FOREIGN KEY([CODPSW]) REFERENCES [dbo].[USERLOGIN] ([CODPSW])
ALTER TABLE [dbo].[USERAUTHORIZATION] NOCHECK CONSTRAINT [FK_USERAUTHORIZATION_CODPSW_USERLOGIN_CODPSW]

ALTER TABLE [dbo].[FPVBRAND] WITH NOCHECK ADD CONSTRAINT [FK_FPVBRAND_COUNTRY_FPVCOUNTRY_CODCOUNTRY] FOREIGN KEY([COUNTRY]) REFERENCES [dbo].[FPVCOUNTRY] ([CODCOUNTRY])
ALTER TABLE [dbo].[FPVBRAND] NOCHECK CONSTRAINT [FK_FPVBRAND_COUNTRY_FPVCOUNTRY_CODCOUNTRY]

ALTER TABLE [dbo].[FPVINVOICE] WITH NOCHECK ADD CONSTRAINT [FK_FPVINVOICE_STORE_FPVSTORE_CODSTORE] FOREIGN KEY([STORE]) REFERENCES [dbo].[FPVSTORE] ([CODSTORE])
ALTER TABLE [dbo].[FPVINVOICE] NOCHECK CONSTRAINT [FK_FPVINVOICE_STORE_FPVSTORE_CODSTORE]

ALTER TABLE [dbo].[FPVITEM] WITH NOCHECK ADD CONSTRAINT [FK_FPVITEM_BRAND_FPVBRAND_CODBRAND] FOREIGN KEY([BRAND]) REFERENCES [dbo].[FPVBRAND] ([CODBRAND])
ALTER TABLE [dbo].[FPVITEM] NOCHECK CONSTRAINT [FK_FPVITEM_BRAND_FPVBRAND_CODBRAND]

ALTER TABLE [dbo].[FPVITEM] WITH NOCHECK ADD CONSTRAINT [FK_FPVITEM_CATEGORY_FPVCATEGORY_CODCATEGORY] FOREIGN KEY([CATEGORY]) REFERENCES [dbo].[FPVCATEGORY] ([CODCATEGORY])
ALTER TABLE [dbo].[FPVITEM] NOCHECK CONSTRAINT [FK_FPVITEM_CATEGORY_FPVCATEGORY_CODCATEGORY]

ALTER TABLE [dbo].[FPVITEM] WITH NOCHECK ADD CONSTRAINT [FK_FPVITEM_INVOICE_FPVINVOICE_CODINVOICE] FOREIGN KEY([INVOICE]) REFERENCES [dbo].[FPVINVOICE] ([CODINVOICE])
ALTER TABLE [dbo].[FPVITEM] NOCHECK CONSTRAINT [FK_FPVITEM_INVOICE_FPVINVOICE_CODINVOICE]

ALTER TABLE [dbo].[FPVITEM] WITH NOCHECK ADD CONSTRAINT [FK_FPVITEM_SUBCATEGORY_FPVSUBCATEGORY_CODSUBCATEGORY] FOREIGN KEY([SUBCATEGORY]) REFERENCES [dbo].[FPVSUBCATEGORY] ([CODSUBCATEGORY])
ALTER TABLE [dbo].[FPVITEM] NOCHECK CONSTRAINT [FK_FPVITEM_SUBCATEGORY_FPVSUBCATEGORY_CODSUBCATEGORY]

ALTER TABLE [dbo].[FPVPERSONPSW] WITH NOCHECK ADD CONSTRAINT [FK_FPVPERSONPSW_CODPERSON_FPVPERSON_CODPERSON] FOREIGN KEY([CODPERSON]) REFERENCES [dbo].[FPVPERSON] ([CODPERSON])
ALTER TABLE [dbo].[FPVPERSONPSW] NOCHECK CONSTRAINT [FK_FPVPERSONPSW_CODPERSON_FPVPERSON_CODPERSON]

ALTER TABLE [dbo].[FPVPERSONPSW] WITH NOCHECK ADD CONSTRAINT [FK_FPVPERSONPSW_CODPSW_USERLOGIN_CODPSW] FOREIGN KEY([CODPSW]) REFERENCES [dbo].[USERLOGIN] ([CODPSW])
ALTER TABLE [dbo].[FPVPERSONPSW] NOCHECK CONSTRAINT [FK_FPVPERSONPSW_CODPSW_USERLOGIN_CODPSW]

ALTER TABLE [dbo].[FPVSTORE] WITH NOCHECK ADD CONSTRAINT [FK_FPVSTORE_COUNTRY_FPVCOUNTRY_CODCOUNTRY] FOREIGN KEY([COUNTRY]) REFERENCES [dbo].[FPVCOUNTRY] ([CODCOUNTRY])
ALTER TABLE [dbo].[FPVSTORE] NOCHECK CONSTRAINT [FK_FPVSTORE_COUNTRY_FPVCOUNTRY_CODCOUNTRY]

ALTER TABLE [dbo].[FPVSUBCATEGORY] WITH NOCHECK ADD CONSTRAINT [FK_FPVSUBCATEGORY_CATEGORY_FPVCATEGORY_CODCATEGORY] FOREIGN KEY([CATEGORY]) REFERENCES [dbo].[FPVCATEGORY] ([CODCATEGORY])
ALTER TABLE [dbo].[FPVSUBCATEGORY] NOCHECK CONSTRAINT [FK_FPVSUBCATEGORY_CATEGORY_FPVCATEGORY_CODCATEGORY]

GO
