*{fpvphotoalbum}*
GO
USE [W_GnBD]
GO
*{fpvitem}*
GO
USE [W_GnBD]
GO
*{fpvinvoice}*
USE [W_GnBD]
update [fpvinvoice] set
     [numberofitems] = + (select isnull(count(*),0) from [fpvitem] as source where [fpvinvoice].[codinvoice] = source.[invoice] and source.zzstate = 0)
     ,[price] = + (select isnull(sum(source.[TOTALPRICE]),0) from [fpvitem] as source where [fpvinvoice].[codinvoice] = source.[invoice] and source.zzstate = 0)
GO
USE [W_GnBD]
GO
*{fpvsubcategory}*
GO
USE [W_GnBD]
GO
*{fpvstore}*
USE [W_GnBD]
update [fpvstore] set
     [totalspending] = + (select isnull(sum(source.[TOTALPRICE]),0) from [fpvinvoice] as source where [fpvstore].[codstore] = source.[store] and source.zzstate = 0)
GO
USE [W_GnBD]
GO
*{userauthorization}*
GO
USE [W_GnBD]
GO
*{asyncprocessattachments}*
GO
USE [W_GnBD]
GO
*{asyncprocessargument}*
GO
USE [W_GnBD]
GO
*{fpvpersonpsw}*
GO
USE [W_GnBD]
GO
*{fpvbrand}*
GO
USE [W_GnBD]
GO
*{notificationmessage}*
GO
USE [W_GnBD]
GO
*{notificationemailsignature}*
GO
USE [W_GnBD]
GO
*{asyncprocess}*
GO
USE [W_GnBD]
GO
*{userlogin}*
GO
USE [W_GnBD]
GO
*{fpvperson}*
GO
USE [W_GnBD]
GO
*{fpvmem}*
GO
USE [W_GnBD]
GO
*{fpvcountry}*
GO
USE [W_GnBD]
GO
*{fpvcategory}*
GO
USE [W_GnBD]
GO
