-- recalculo de fórmulas para a tabela FPVPHOTOALBUM
GO
GO
-- recalculo de fórmulas para a tabela FPVITEM
-- Layer 0
update [item]
SET [item].[totalprice] =[item].[quantity]*[item].[totalprice]
FROM [fpvitem] AS [item]


GO
GO
-- recalculo de fórmulas para a tabela FPVINVOICE
USE [W_GnBD]
update [fpvinvoice] set
     [numberofitems] = + (select isnull(count(*),0) from [fpvitem] as source where [fpvinvoice].[codinvoice] = source.[invoice] and source.zzstate = 0)
     ,[price] = + (select isnull(sum(source.[TOTALPRICE]),0) from [fpvitem] as source where [fpvinvoice].[codinvoice] = source.[invoice] and source.zzstate = 0)
GO
-- Layer 0
update [invoice]
SET [invoice].[totalprice] =[invoice].[totalprice]+[invoice].[shippingcost]+[invoice].[taxes]
FROM [fpvinvoice] AS [invoice]


GO
GO
-- recalculo de fórmulas para a tabela FPVSUBCATEGORY
GO
GO
-- recalculo de fórmulas para a tabela FPVSTORE
GO
GO
-- recalculo de fórmulas para a tabela UserAuthorization
-- Layer 0
update [s_ua]
SET [s_ua].[naodupli] =dbo.KeyToString([s_ua].[codpsw])+[s_ua].[modulo]
,[s_ua].[nivel] =dbo.GetLevelFromRole(0,[s_ua].[role])
FROM [userauthorization] AS [s_ua]


GO
GO
-- recalculo de fórmulas para a tabela AsyncProcessAttachments
GO
GO
-- recalculo de fórmulas para a tabela AsyncProcessArgument
GO
GO
-- recalculo de fórmulas para a tabela FPVPERSONPSW
GO
GO
-- recalculo de fórmulas para a tabela FPVBRAND
GO
GO
-- recalculo de fórmulas para a tabela NotificationMessage
GO
GO
-- recalculo de fórmulas para a tabela NotificationEmailSignature
GO
GO
-- recalculo de fórmulas para a tabela AsyncProcess
-- Layer 0
update [s_apr]
SET [s_apr].[finished] =(case when ([s_apr].[status]='T' or [s_apr].[status]='AB' or [s_apr].[status]='C') then 1 else 0 end)
FROM [asyncprocess] AS [s_apr]


GO
GO
-- recalculo de fórmulas para a tabela UserLogin
GO
GO
-- recalculo de fórmulas para a tabela FPVPERSON
GO
GO
-- recalculo de fórmulas para a tabela FPVMEM
GO
GO
-- recalculo de fórmulas para a tabela FPVCOUNTRY
GO
GO
-- recalculo de fórmulas para a tabela FPVCATEGORY
GO
GO


GO
