update fpvstore set fpvstore.totalspending = 0;
GO
update fpvbrand set fpvbrand.totalspending = 0;
update fpvinvoice set fpvinvoice.numberofitems = 0;
update fpvinvoice set fpvinvoice.price = 0;
GO
