USE [W_GnBD]
DECLARE @nextcod bigint

if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FPVBRAND')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FPVBRAND', coalesce(cast((select max(codbrand) from FPVBRAND) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codbrand) from FPVBRAND) as bigint) + 1, 1) where id_objecto = 'FPVBRAND'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FPVCATEGORY')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FPVCATEGORY', coalesce(cast((select max(codcategory) from FPVCATEGORY) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codcategory) from FPVCATEGORY) as bigint) + 1, 1) where id_objecto = 'FPVCATEGORY'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FPVCOUNTRY')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FPVCOUNTRY', coalesce(cast((select max(codcountry) from FPVCOUNTRY) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codcountry) from FPVCOUNTRY) as bigint) + 1, 1) where id_objecto = 'FPVCOUNTRY'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FPVINVOICE')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FPVINVOICE', coalesce(cast((select max(codinvoice) from FPVINVOICE) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codinvoice) from FPVINVOICE) as bigint) + 1, 1) where id_objecto = 'FPVINVOICE'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FPVITEM')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FPVITEM', coalesce(cast((select max(coditem) from FPVITEM) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(coditem) from FPVITEM) as bigint) + 1, 1) where id_objecto = 'FPVITEM'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'UserLogin')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('UserLogin', coalesce(cast((select max(codpsw) from UserLogin) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codpsw) from UserLogin) as bigint) + 1, 1) where id_objecto = 'UserLogin'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'NotificationEmailSignature')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('NotificationEmailSignature', coalesce(cast((select max(codsigna) from NotificationEmailSignature) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codsigna) from NotificationEmailSignature) as bigint) + 1, 1) where id_objecto = 'NotificationEmailSignature'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'NotificationMessage')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('NotificationMessage', coalesce(cast((select max(codmesgs) from NotificationMessage) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codmesgs) from NotificationMessage) as bigint) + 1, 1) where id_objecto = 'NotificationMessage'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'AsyncProcessAttachments')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('AsyncProcessAttachments', coalesce(cast((select max(codpranx) from AsyncProcessAttachments) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codpranx) from AsyncProcessAttachments) as bigint) + 1, 1) where id_objecto = 'AsyncProcessAttachments'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'UserAuthorization')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('UserAuthorization', coalesce(cast((select max(codua) from UserAuthorization) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codua) from UserAuthorization) as bigint) + 1, 1) where id_objecto = 'UserAuthorization'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FPVSTORE')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FPVSTORE', coalesce(cast((select max(codstore) from FPVSTORE) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codstore) from FPVSTORE) as bigint) + 1, 1) where id_objecto = 'FPVSTORE'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FPVSUBCATEGORY')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FPVSUBCATEGORY', coalesce(cast((select max(codsubcategory) from FPVSUBCATEGORY) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codsubcategory) from FPVSUBCATEGORY) as bigint) + 1, 1) where id_objecto = 'FPVSUBCATEGORY'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FPVMEM')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FPVMEM', coalesce(cast((select max(CODMEM) from FPVMEM) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODMEM) from FPVMEM) as bigint) + 1, 1) where id_objecto = 'FPVMEM'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FPVCFG')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FPVCFG', coalesce(cast((select max(CODCFG) from FPVCFG) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODCFG) from FPVCFG) as bigint) + 1, 1) where id_objecto = 'FPVCFG'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FPVUSRSET')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FPVUSRSET', coalesce(cast((select max(CODUSRSET) from FPVUSRSET) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODUSRSET) from FPVUSRSET) as bigint) + 1, 1) where id_objecto = 'FPVUSRSET'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FPVUSRCFG')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FPVUSRCFG', coalesce(cast((select max(CODUSRCFG) from FPVUSRCFG) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODUSRCFG) from FPVUSRCFG) as bigint) + 1, 1) where id_objecto = 'FPVUSRCFG'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FPVWKFACT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FPVWKFACT', coalesce(cast((select max(CODWKFACT) from FPVWKFACT) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODWKFACT) from FPVWKFACT) as bigint) + 1, 1) where id_objecto = 'FPVWKFACT'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FPVWKFCON')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FPVWKFCON', coalesce(cast((select max(CODWKFCON) from FPVWKFCON) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODWKFCON) from FPVWKFCON) as bigint) + 1, 1) where id_objecto = 'FPVWKFCON'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FPVWKFLIG')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FPVWKFLIG', coalesce(cast((select max(CODWKFLIG) from FPVWKFLIG) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODWKFLIG) from FPVWKFLIG) as bigint) + 1, 1) where id_objecto = 'FPVWKFLIG'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FPVWKFLOW')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FPVWKFLOW', coalesce(cast((select max(CODWKFLOW) from FPVWKFLOW) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODWKFLOW) from FPVWKFLOW) as bigint) + 1, 1) where id_objecto = 'FPVWKFLOW'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FPVNOTIFI')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FPVNOTIFI', coalesce(cast((select max(CODNOTIFI) from FPVNOTIFI) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODNOTIFI) from FPVNOTIFI) as bigint) + 1, 1) where id_objecto = 'FPVNOTIFI'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FPVSCRCRD')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FPVSCRCRD', coalesce(cast((select max(CODSCRCRD) from FPVSCRCRD) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODSCRCRD) from FPVSCRCRD) as bigint) + 1, 1) where id_objecto = 'FPVSCRCRD'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FPVPOSTIT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FPVPOSTIT', coalesce(cast((select max(CODPOSTIT) from FPVPOSTIT) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODPOSTIT) from FPVPOSTIT) as bigint) + 1, 1) where id_objecto = 'FPVPOSTIT'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FPVPRMFRM')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FPVPRMFRM', coalesce(cast((select max(CODPRMFRM) from FPVPRMFRM) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODPRMFRM) from FPVPRMFRM) as bigint) + 1, 1) where id_objecto = 'FPVPRMFRM'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FPVALERTA')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FPVALERTA', coalesce(cast((select max(CODALERTA) from FPVALERTA) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODALERTA) from FPVALERTA) as bigint) + 1, 1) where id_objecto = 'FPVALERTA'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FPVALTENT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FPVALTENT', coalesce(cast((select max(CODALTENT) from FPVALTENT) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODALTENT) from FPVALTENT) as bigint) + 1, 1) where id_objecto = 'FPVALTENT'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FPVTALERT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FPVTALERT', coalesce(cast((select max(CODTALERT) from FPVTALERT) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODTALERT) from FPVTALERT) as bigint) + 1, 1) where id_objecto = 'FPVTALERT'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FPVDELEGA')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FPVDELEGA', coalesce(cast((select max(CODDELEGA) from FPVDELEGA) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODDELEGA) from FPVDELEGA) as bigint) + 1, 1) where id_objecto = 'FPVDELEGA'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FPVLSTUSR')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FPVLSTUSR', coalesce(cast((select max(CODLSTUSR) from FPVLSTUSR) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODLSTUSR) from FPVLSTUSR) as bigint) + 1, 1) where id_objecto = 'FPVLSTUSR'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FPVLSTCOL')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FPVLSTCOL', coalesce(cast((select max(CODLSTCOL) from FPVLSTCOL) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODLSTCOL) from FPVLSTCOL) as bigint) + 1, 1) where id_objecto = 'FPVLSTCOL'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FPVLSTREN')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FPVLSTREN', coalesce(cast((select max(CODLSTREN) from FPVLSTREN) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODLSTREN) from FPVLSTREN) as bigint) + 1, 1) where id_objecto = 'FPVLSTREN'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FPVUSRWID')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FPVUSRWID', coalesce(cast((select max(CODUSRWID) from FPVUSRWID) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODUSRWID) from FPVUSRWID) as bigint) + 1, 1) where id_objecto = 'FPVUSRWID'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FPVTBLCFG')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FPVTBLCFG', coalesce(cast((select max(CODTBLCFG) from FPVTBLCFG) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODTBLCFG) from FPVTBLCFG) as bigint) + 1, 1) where id_objecto = 'FPVTBLCFG'

if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'HASHCD')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('HASHCD', coalesce(cast((select max(codHASHCD) from HASHCD) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codHASHCD) from HASHCD) as bigint) + 1, 1) where id_objecto = 'HASHCD'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'DOCUMS')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('DOCUMS', coalesce(cast((select max(codDOCUMS) from DOCUMS) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codDOCUMS) from DOCUMS) as bigint) + 1, 1) where id_objecto = 'DOCUMS'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'UserAuthorization')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('UserAuthorization', coalesce(cast((select max(CODUA) from UserAuthorization) as int) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODUA) from UserAuthorization) as int) + 1, 1) where id_objecto = 'UserAuthorization'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FPVWORKFLOWPROCESS')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FPVWORKFLOWPROCESS', coalesce(cast((select max(CODPRCESS) from FPVWORKFLOWPROCESS) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODPRCESS) from FPVWORKFLOWPROCESS) as bigint) + 1, 1) where id_objecto = 'FPVWORKFLOWPROCESS'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FPVWORKFLOWTASK')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FPVWORKFLOWTASK', coalesce(cast((select max(CODTASK) from FPVWORKFLOWTASK) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODTASK) from FPVWORKFLOWTASK) as bigint) + 1, 1) where id_objecto = 'FPVWORKFLOWTASK'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'NotificationEmailSignature')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('NotificationEmailSignature', coalesce(cast((select max(codsigna) from NotificationEmailSignature) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codsigna) from NotificationEmailSignature) as bigint) + 1, 1) where id_objecto = 'NotificationEmailSignature'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'NotificationMessage')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('NotificationMessage', coalesce(cast((select max(codmesgs) from NotificationMessage) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codmesgs) from NotificationMessage) as bigint) + 1, 1) where id_objecto = 'NotificationMessage'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'ReportList')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('ReportList', coalesce(cast((select max(CODREPORT) from ReportList) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODREPORT) from ReportList) as bigint) + 1, 1) where id_objecto = 'ReportList'
GO
 