



		
 
USE [W_GnBD]

if exists(SELECT top 1 name FROM sysobjects where name = 'Codigos_Int_Modulos')
	DROP TABLE Codigos_Int_Modulos
if exists(SELECT top 1 name FROM sysobjects where name = 'Codigos_Internos')
	DROP TABLE Codigos_Internos

if not exists(SELECT top 1 name FROM sysobjects where name = 'Codigos_Sequenciais')
	EXEC ('CREATE TABLE Codigos_Sequenciais ( [id_objecto] varchar(50) NOT NULL ) ');
exec AlterarCamposTmp 'Codigos_Sequenciais', 'id_objecto', 'varchar', 'VARCHAR(50) NOT NULL', 50
if not exists (select * from sysobjects where xtype = 'PK' and parent_obj = (select id from sysobjects where name = 'Codigos_Sequenciais'))
	ALTER TABLE Codigos_Sequenciais ADD CONSTRAINT CODIGOS_SEQUENCIAIS_PK PRIMARY KEY(id_objecto)
exec AlterarCamposTmp 'Codigos_Sequenciais', 'proximo', 'bigint', 'BIGINT', '10'
GO


exec CriarTabelaTmp 'FPVmem','codmem','I', 8
exec ApagarTodosIndicesTmp 'FPVmem','FPV','codmem'
exec AlterarCamposTmp 'FPVmem', 'codmem', 'int', 'INT NOT NULL', '8'
exec AlterarCamposTmp 'FPVmem', 'login', 'varchar', 'VARCHAR(100)', '100'
exec AlterarCamposTmp 'FPVmem', 'altura', 'datetime', 'DATETIME', '8'
exec AlterarCamposTmp 'FPVmem', 'rotina', 'varchar', 'VARCHAR(100)', '100'
exec AlterarCamposTmp 'FPVmem', 'obs', 'varchar', 'VARCHAR(100)', '100'
exec AlterarCamposTmp 'FPVmem', 'hostid', 'varchar', 'VARCHAR(20)', '20'
exec AlterarCamposTmp 'FPVmem', 'clientid', 'varchar', 'VARCHAR(50)', '50'
exec AlterarCamposTmp 'FPVmem', 'ZZSTATE', 'tinyint', 'TINYINT', '1'
GO
exec CriarTabelaTmp 'FPVcfg','codcfg','I', 6
exec ApagarTodosIndicesTmp 'FPVcfg','FPV','codcfg'
exec AlterarCamposTmp 'FPVcfg', 'checkdat', 'datetime', 'DATETIME', '8'
exec AlterarCamposTmp 'FPVcfg', 'versao', 'float', 'FLOAT(53)', '53'
exec AlterarCamposTmp 'FPVcfg', 'versindx', 'float', 'FLOAT(53)', '53'
exec AlterarCamposTmp 'FPVcfg', 'manutdat', 'datetime', 'DATETIME', '8'
exec AlterarCamposTmp 'FPVcfg', 'upgrindx', 'int', 'INT', '5'
exec AlterarCamposTmp 'FPVcfg', 'usrsetv', 'int', 'INT', '5'
exec AlterarCamposTmp 'FPVcfg', 'ZZSTATE', 'tinyint', 'TINYINT', '1'
GO

exec CriarTabelaTmp 'FPVtblcfg', 'CODTBLCFG', 'I', 8
exec ApagarTodosIndicesTmp 'FPVtblcfg', 'FPV', 'CODTBLCFG'
exec AlterarCamposTmp 'FPVtblcfg', 'CODPSW', 'int', 'INT', '8'
exec AlterarCamposTmp 'FPVtblcfg', 'UUID', 'varchar', 'VARCHAR(50)', '50'
exec AlterarCamposTmp 'FPVtblcfg', 'NAME', 'varchar', 'VARCHAR(50)', '50'
exec AlterarCamposTmp 'FPVtblcfg', 'CONFIG', 'varchar', 'VARCHAR(MAX)', 'MAX'
exec AlterarCamposTmp 'FPVtblcfg', 'USRSETV', 'int', 'INT', '5'
exec AlterarCamposTmp 'FPVtblcfg', 'DATE', 'datetime', 'DATETIME', '8'
exec AlterarCamposTmp 'FPVtblcfg', 'ISDEFAULT', 'bit', 'BIT', '1'
exec AlterarCamposTmp 'FPVtblcfg', 'ZZSTATE', 'tinyint', 'TINYINT', '1'
GO

exec CriarTabelaTmp 'FPVlstusr','CODLSTUSR','I', 8
exec ApagarTodosIndicesTmp 'FPVlstusr','FPV','CODLSTUSR'
exec AlterarCamposTmp 'FPVlstusr', 'CODPSW', 'int', 'INT', '8'
exec AlterarCamposTmp 'FPVlstusr', 'DESCRIC', 'varchar', 'VARCHAR(50)', '50'
exec AlterarCamposTmp 'FPVlstusr', 'IDLIST', 'varchar', 'VARCHAR(50)', '50'
exec AlterarCamposTmp 'FPVlstusr', 'MODULO', 'varchar', 'VARCHAR(3)', '3'
exec AlterarCamposTmp 'FPVlstusr', 'SISTEMA', 'varchar', 'VARCHAR(3)', '3'
exec AlterarCamposTmp 'FPVlstusr', 'ORDERCOL', 'int', 'INT', '2'
exec AlterarCamposTmp 'FPVlstusr', 'ORDERTYPE', 'int', 'INT', '2'
exec AlterarCamposTmp 'FPVlstusr', 'DATA', 'datetime', 'DATETIME', '8'
exec AlterarCamposTmp 'FPVlstusr', 'ZZSTATE', 'tinyint', 'TINYINT', '1'
GO

exec CriarTabelaTmp 'FPVlstcol','CODLSTCOL','I', 8
exec ApagarTodosIndicesTmp 'FPVlstcol','FPV','CODLSTCOL'
exec AlterarCamposTmp 'FPVlstcol', 'CODLSTUSR', 'int', 'INT', '8'
exec AlterarCamposTmp 'FPVlstcol', 'TABELA', 'varchar', 'VARCHAR(50)', '50'
exec AlterarCamposTmp 'FPVlstcol', 'ALIAS', 'varchar', 'VARCHAR(100)', '100'
exec AlterarCamposTmp 'FPVlstcol', 'CAMPO', 'varchar', 'VARCHAR(50)', '50'
exec AlterarCamposTmp 'FPVlstcol', 'VISIVEL', 'tinyint', 'TINYINT', '1'
exec AlterarCamposTmp 'FPVlstcol', 'POSICAO', 'int', 'INT', '2'
exec AlterarCamposTmp 'FPVlstcol', 'OPERACAO', 'int', 'INT', '2'
exec AlterarCamposTmp 'FPVlstcol', 'TIPO', 'int', 'INT', '2'
exec AlterarCamposTmp 'FPVlstcol', 'ZZSTATE', 'tinyint', 'TINYINT', '1'
GO

exec CriarTabelaTmp 'FPVlstren','CODLSTREN','I', 8
exec ApagarTodosIndicesTmp 'FPVlstren','FPV','CODLSTREN'
exec AlterarCamposTmp 'FPVlstren', 'CODLSTUSR', 'int', 'INT', '8'
exec AlterarCamposTmp 'FPVlstren', 'RENDERIZACAO', 'varchar', 'VARCHAR(50)', '50'
exec AlterarCamposTmp 'FPVlstren', 'VISIVEL', 'tinyint', 'TINYINT', '1'
exec AlterarCamposTmp 'FPVlstren', 'POSICAO', 'int', 'INT', '2'
exec AlterarCamposTmp 'FPVlstren', 'OPERACAO', 'int', 'INT', '2'
exec AlterarCamposTmp 'FPVlstren', 'TIPO', 'int', 'INT', '2'
exec AlterarCamposTmp 'FPVlstren', 'ZZSTATE', 'tinyint', 'TINYINT', '1'
GO

exec CriarTabelaTmp 'FPVusrwid','CODUSRWID','I', 8
exec ApagarTodosIndicesTmp 'FPVusrwid','FPV','CODUSRWID'
exec AlterarCamposTmp 'FPVusrwid', 'CODLSTUSR', 'int', 'INT', '8'
exec AlterarCamposTmp 'FPVusrwid', 'WIDGET', 'varchar', 'VARCHAR(50)', '50'
exec AlterarCamposTmp 'FPVusrwid', 'ROWKEY', 'varchar', 'VARCHAR(50)', '50'
exec AlterarCamposTmp 'FPVusrwid', 'VISIBLE', 'tinyint', 'TINYINT', '1'
exec AlterarCamposTmp 'FPVusrwid', 'HPOSITION', 'int', 'INT', '2'
exec AlterarCamposTmp 'FPVusrwid', 'VPOSITION', 'int', 'INT', '2'
exec AlterarCamposTmp 'FPVusrwid', 'ZZSTATE', 'tinyint', 'TINYINT', '1'
GO

exec CriarTabelaTmp 'FPVusrcfg','codusrcfg','I', 6
exec ApagarTodosIndicesTmp 'FPVusrcfg','FPV','codusrcfg'
exec AlterarCamposTmp 'FPVusrcfg', 'modulo', 'varchar', 'VARCHAR(3)', '3'

exec AlterarCamposTmp 'FPVusrcfg', 'codpsw', 'int', 'INT', '8'
exec AlterarCamposTmp 'FPVusrcfg', 'tipo', 'varchar', 'VARCHAR(2)', '2'
exec AlterarCamposTmp 'FPVusrcfg', 'id', 'varchar', 'VARCHAR(15)', '15'
exec AlterarCamposTmp 'FPVusrcfg', 'ZZSTATE', 'tinyint', 'TINYINT', '1'
GO

exec CriarTabelaTmp 'FPVusrset','codusrset','I', 6
exec ApagarTodosIndicesTmp 'FPVusrset','FPV','codusrset'
exec AlterarCamposTmp 'FPVusrset', 'modulo', 'varchar', 'VARCHAR(3)', '3'
exec AlterarCamposTmp 'FPVusrset', 'codpsw', 'int', 'INT', '8'
exec AlterarCamposTmp 'FPVusrset', 'chave', 'varchar', 'VARCHAR(30)', '30'
exec AlterarCamposTmp 'FPVusrset', 'valor', 'varchar', 'VARCHAR(4000)', '4000'
exec AlterarCamposTmp 'FPVusrset', 'ZZSTATE', 'tinyint', 'TINYINT', '1'
GO

exec CriarTabelaTmp 'FPVwkfact','codwkfact','I',  6
exec ApagarTodosIndicesTmp 'FPVwkfact','FPV','codwkfact'
exec AlterarCamposTmp 'FPVwkfact', 'wfid', 'varchar', 'VARCHAR(6)', '6'
exec AlterarCamposTmp 'FPVwkfact', 'actid', 'int', 'INT', ''
exec AlterarCamposTmp 'FPVwkfact', 'tpactid', 'varchar', 'VARCHAR(6)', '6'
exec AlterarCamposTmp 'FPVwkfact', 'descrica', 'varchar', 'VARCHAR(40)', '40'
exec AlterarCamposTmp 'FPVwkfact', 'duracao', 'float', 'FLOAT(53)', '53'
exec AlterarCamposTmp 'FPVwkfact', 'perfil', 'float', 'FLOAT(53)', '53'
exec AlterarCamposTmp 'FPVwkfact', 'perfilu', 'float', 'FLOAT(53)', '53'
exec AlterarCamposTmp 'FPVwkfact', 'x', 'float', 'FLOAT(53)', '53'
exec AlterarCamposTmp 'FPVwkfact', 'y', 'float', 'FLOAT(53)', '53'
exec AlterarCamposTmp 'FPVwkfact', 'ZZSTATE', 'tinyint', 'TINYINT', '1'
GO

exec CriarTabelaTmp 'FPVwkfcon','codwkfcon','I', 6
exec ApagarTodosIndicesTmp 'FPVwkfcon','FPV','codwkfcon'
exec AlterarCamposTmp 'FPVwkfcon', 'wfid', 'varchar', 'VARCHAR(6)', '6'
exec AlterarCamposTmp 'FPVwkfcon', 'condid', 'int', 'INT', ''
exec AlterarCamposTmp 'FPVwkfcon', 'tpcondid', 'varchar', 'VARCHAR(6)', '6'
exec AlterarCamposTmp 'FPVwkfcon', 'descrica', 'varchar', 'VARCHAR(40)', '40'
exec AlterarCamposTmp 'FPVwkfcon', 'tiporegr', 'float', 'FLOAT(53)', '53'
exec AlterarCamposTmp 'FPVwkfcon', 'sinal', 'varchar', 'VARCHAR(6)', '6'
exec AlterarCamposTmp 'FPVwkfcon', 'x', 'float', 'FLOAT(53)', '53'
exec AlterarCamposTmp 'FPVwkfcon', 'y', 'float', 'FLOAT(53)', '53'
exec AlterarCamposTmp 'FPVwkfcon', 'valor', 'varchar', 'VARCHAR(30)', '30'
exec AlterarCamposTmp 'FPVwkfcon', 'ZZSTATE', 'tinyint', 'TINYINT', '1'
GO

exec CriarTabelaTmp 'FPVwkflig','codwkflig','I',6
exec ApagarTodosIndicesTmp 'FPVwkflig','FPV','codwkflig'
exec AlterarCamposTmp 'FPVwkflig', 'wfid', 'varchar', 'VARCHAR(6)', '6'
exec AlterarCamposTmp 'FPVwkflig', 'parentid', 'int', 'INT', '6'
exec AlterarCamposTmp 'FPVwkflig', 'childid', 'int', 'INT', '6'
exec AlterarCamposTmp 'FPVwkflig', 'ptoy', 'float', 'FLOAT(53)', '53'
exec AlterarCamposTmp 'FPVwkflig', 'ptox', 'float', 'FLOAT(53)', '53'
exec AlterarCamposTmp 'FPVwkflig', 'ptor', 'float', 'FLOAT(53)', '53'
exec AlterarCamposTmp 'FPVwkflig', 'tipo', 'float', 'FLOAT(53)', '53'
exec AlterarCamposTmp 'FPVwkflig', 'pfromx', 'float', 'FLOAT(53)', '53'
exec AlterarCamposTmp 'FPVwkflig', 'pfromy', 'float', 'FLOAT(53)', '53'
exec AlterarCamposTmp 'FPVwkflig', 'pfromr', 'float', 'FLOAT(53)', '53'
exec AlterarCamposTmp 'FPVwkflig', 'ZZSTATE', 'tinyint', 'TINYINT', '1'
GO

exec CriarTabelaTmp 'FPVwkflow','codwkflow','I', 6
exec ApagarTodosIndicesTmp 'FPVwkflow','FPV','codwkflow'
exec AlterarCamposTmp 'FPVwkflow', 'descrica', 'varchar', 'VARCHAR(40)', '40'
exec AlterarCamposTmp 'FPVwkflow', 'modulo', 'varchar', 'VARCHAR(3)', '3'
exec AlterarCamposTmp 'FPVwkflow', 'ZZSTATE', 'tinyint', 'TINYINT', '1'
GO

exec CriarTabelaTmp 'FPVnotifi','codnotifi','I', 6
exec ApagarTodosIndicesTmp 'FPVnotifi','FPV','codnotifi'
exec AlterarCamposTmp 'FPVnotifi', 'modulo', 'varchar', 'VARCHAR(3)', '3'
exec AlterarCamposTmp 'FPVnotifi', 'descrica', 'varchar', 'VARCHAR(120)', '120'
exec AlterarCamposTmp 'FPVnotifi', 'activid', 'float', 'FLOAT(53)', '53'
exec AlterarCamposTmp 'FPVnotifi', 'menuid', 'varchar', 'VARCHAR(15)', '15'
exec AlterarCamposTmp 'FPVnotifi', 'usernivl', 'float', 'FLOAT(53)', '53'
exec AlterarCamposTmp 'FPVnotifi', 'wfid', 'varchar', 'VARCHAR(6)', '6'
exec AlterarCamposTmp 'FPVnotifi', 'ZZSTATE', 'tinyint', 'TINYINT', '1'
GO

exec CriarTabelaTmp 'FPVprmfrm','codprmfrm','I',6
exec ApagarTodosIndicesTmp 'FPVprmfrm','FPV','codprmfrm'
exec AlterarCamposTmp 'FPVprmfrm', 'desform', 'varchar', 'VARCHAR(8)', '8'
exec AlterarCamposTmp 'FPVprmfrm', 'perfil', 'varchar', 'VARCHAR(2)', '2'
exec AlterarCamposTmp 'FPVprmfrm', 'autoriza', 'varchar', 'VARCHAR(1)', '1'
exec AlterarCamposTmp 'FPVprmfrm', 'sevalida', 'tinyint', 'TINYINT', '1'
exec AlterarCamposTmp 'FPVprmfrm', 'prfvalid', 'varchar', 'VARCHAR(2)', '2'
exec AlterarCamposTmp 'FPVprmfrm', 'prazodia', 'float', 'FLOAT(53)', '53'
exec AlterarCamposTmp 'FPVprmfrm', 'comprova', 'varchar', 'VARCHAR(30)', '30'
exec AlterarCamposTmp 'FPVprmfrm', 'prazohor', 'float', 'FLOAT(53)', '53'
exec AlterarCamposTmp 'FPVprmfrm', 'secompro', 'tinyint', 'TINYINT', '1'
exec AlterarCamposTmp 'FPVprmfrm', 'mensag1', 'varchar', 'VARCHAR(100)', '100'
exec AlterarCamposTmp 'FPVprmfrm', 'mensag2', 'varchar', 'VARCHAR(100)', '100'
exec AlterarCamposTmp 'FPVprmfrm', 'mensag3', 'varchar', 'VARCHAR(100)', '100'
exec AlterarCamposTmp 'FPVprmfrm', 'mensag4', 'varchar', 'VARCHAR(100)', '100'
exec AlterarCamposTmp 'FPVprmfrm', 'ZZSTATE', 'tinyint', 'TINYINT', '1'
GO

exec CriarTabelaTmp 'FPVscrcrd','codscrcrd','I', 6 
exec ApagarTodosIndicesTmp 'FPVscrcrd','FPV','codscrcrd'
exec AlterarCamposTmp 'FPVscrcrd', 'descrica', 'varchar', 'VARCHAR(60)', '60'
exec AlterarCamposTmp 'FPVscrcrd', 'valor', 'float', 'FLOAT(53)', '53'
exec AlterarCamposTmp 'FPVscrcrd', 'cor', 'varchar', 'VARCHAR(1)', '1'
exec AlterarCamposTmp 'FPVscrcrd', 'seta', 'varchar', 'VARCHAR(1)', '1'
exec AlterarCamposTmp 'FPVscrcrd', 'usernivl', 'float', 'FLOAT(53)', '53'
exec AlterarCamposTmp 'FPVscrcrd', 'ZZSTATE', 'tinyint', 'TINYINT', '1'
GO

if exists(select name from sysobjects where xtype = 'u' and name = 'FPVdocums')
BEGIN
	exec CriarTabelaTmp 'FPVdocums','coddocums','I', 6
exec ApagarTodosIndicesTmp 'FPVdocums','FPV','coddocums'
	if (not exists(select * from sysobjects where xtype = 'PK' and parent_obj = (select id from sysobjects where name = 'FPVdocums') and name = 'FPVDOCUMS_CODDOCUMS'))
		ALTER TABLE [FPVdocums] ADD CONSTRAINT [FPVDOCUMS_CODDOCUMS] PRIMARY KEY(coddocums)
	
	exec AlterarCamposTmp 'FPVdocums', 'documid', 'int', 'INT', '8'

--Caso a versão anterior tenha sido gerada para sql2005, a coluna document será do tipo IMAGE.
--Ao passar de uma versão para a outra, forçar a filestream numa coluna já existente dá erro por limitação do próprio sql.
--Tem de ser criada uma nova coluna e os dados passados para ela
--Dropar a image e rename a nova coluna para document
IF (SELECT [DATA_TYPE] FROM [INFORMATION_SCHEMA].[COLUMNS] WHERE [TABLE_NAME] = 'FPVdocums' AND [COLUMN_NAME] = 'document') = 'image'
BEGIN
	SET ANSI_WARNINGS OFF;
	exec sp_RENAME 'FPVdocums.document', 'document_temp' , 'COLUMN';
	exec AlterarCamposTmp 'FPVdocums', 'document', 'varbinary', 'VARBINARY(MAX)', '';
	EXECUTE sp_executesql N'UPDATE [FPVdocums] set document = document_temp; ALTER TABLE [FPVdocums] DROP COLUMN document_temp;';
	SET ANSI_WARNINGS ON;
END
ELSE
BEGIN 
	IF (SELECT [DATA_TYPE] FROM [INFORMATION_SCHEMA].[COLUMNS] WHERE [TABLE_NAME] = 'FPVdocums' AND [COLUMN_NAME] = 'document') = 'varchar'
	BEGIN
		SET ANSI_WARNINGS OFF	;
		exec sp_RENAME 'FPVdocums.document', 'document_temp' , 'COLUMN';
		exec AlterarCamposTmp 'FPVdocums', 'document', 'varbinary', 'VARBINARY(MAX)', '';
		exec AlterarCamposTmp 'FPVdocums', 'docpath', 'varchar', 'VARCHAR(260)', '260';
		EXECUTE sp_executesql N'UPDATE [FPVdocums] set docpath = document_temp; ALTER TABLE [FPVdocums] DROP COLUMN document_temp;';
	END
	ELSE
	BEGIN
		exec AlterarCamposTmp 'FPVdocums', 'document', 'varbinary', 'VARBINARY(MAX)', ''
	END
END

exec AlterarCamposTmp 'FPVdocums', 'docpath', 'varchar', 'VARCHAR(260)', '260'

	exec AlterarCamposTmp 'FPVdocums', 'tabela', 'varchar', 'VARCHAR(30)', '30'
	exec AlterarCamposTmp 'FPVdocums', 'campo', 'varchar', 'VARCHAR(30)', '30'
	exec AlterarCamposTmp 'FPVdocums', 'chave', 'varchar', 'VARCHAR(36)', '36'
	exec AlterarCamposTmp 'FPVdocums', 'form', 'varchar', 'VARCHAR(8)', '8'
	exec AlterarCamposTmp 'FPVdocums', 'nome', 'varchar', 'VARCHAR(255)', '255'
	exec AlterarCamposTmp 'FPVdocums', 'versao', 'varchar', 'VARCHAR(10)', '10'
	exec AlterarCamposTmp 'FPVdocums', 'tamanho', 'float', 'FLOAT(53)', '10'
	exec AlterarCamposTmp 'FPVdocums', 'extensao', 'varchar', 'VARCHAR(5)', '5'
	exec AlterarCamposTmp 'FPVdocums', 'opercria', 'varchar', 'VARCHAR(100)', '100'
	exec AlterarCamposTmp 'FPVdocums', 'datacria', 'datetime', 'DATETIME', '8'
	exec AlterarCamposTmp 'FPVdocums', 'opermuda', 'varchar', 'VARCHAR(100)', '100'
	exec AlterarCamposTmp 'FPVdocums', 'datamuda', 'datetime', 'DATETIME', '8'
	exec AlterarCamposTmp 'FPVdocums', 'ZZSTATE', 'tinyint', 'TINYINT', '1'
END
GO

--A tabela docums deixou de ter o prefixo do sistema, e passa a chamar-se apenas "docums" de forma a poder ser reutilizada por sistemas partilhados.
--Caso esta bd tenha mais do que um sistema, é necessário migrar os documentos de todos os sistemas, excepto do primeiro que reindexar a bd. Ou seja,
--o primeiro faz o rename da tabela (visto não mudar nada a nivel da estrutura da tabela) e os restantes fazem inserts.
--EDIT:Adaptei e retirei o código do ficheiro ActStoredProcFIM e coloquei aqui de forma a conseguir evitar migração / duplicação de dados para BD's com um único sistema.
--Como este script corre primeiro que o ActStoredProcFIM, a docums já vai estar criada nessa altura, com os respectivos indices e filestream, pelo que apagar a docums e renomear a FPVDocums 
--iria originar uma segunda reindexação para corrigir os indices.
IF EXISTS(SELECT top 1 name FROM sysobjects WHERE name = 'FPVdocums')
BEGIN
    IF EXISTS(SELECT top 1 name FROM sysobjects WHERE name = 'docums')
    BEGIN
        INSERT INTO DOCUMS ([coddocums],[documid],[document],[docpath],[tabela],[campo],[chave],[form],[nome],[versao],[tamanho],[extensao],[opercria],[datacria],[opermuda],[datamuda],[ZZSTATE])
        SELECT [coddocums],[documid],[document],[docpath],[tabela],[campo],[chave],[form],[nome],[versao],[tamanho],[extensao],[opercria],[datacria],[opermuda],[datamuda],[ZZSTATE] FROM [FPVDOCUMS]
        EXEC sp_rename 'FPVdocums', 'backupFPVdocums'
    END
    ELSE
    BEGIN
        EXEC sp_rename 'FPVdocums', 'docums'
        EXEC sp_rename 'FPVdocums_CODDOCUMS', 'DOCUMS_CODDOCUMS'
    END
END
GO

	exec CriarTabelaTmp 'docums','coddocums','I', 8
	exec ApagarTodosIndicesTmp 'docums','FPV','coddocums'

	if (not exists(select * from sysobjects where xtype = 'PK' and parent_obj = (select id from sysobjects where name = 'docums') and name = 'DOCUMS_CODDOCUMS'))
		ALTER TABLE docums ADD CONSTRAINT [DOCUMS_CODDOCUMS] PRIMARY KEY(coddocums)
	
	exec AlterarCamposTmp 'docums', 'documid', 'int', 'INT', '8'

--Caso a versão anterior tenha sido gerada para sql2005, a coluna document será do tipo IMAGE.
--Ao passar de uma versão para a outra, forçar a filestream numa coluna já existente dá erro por limitação do próprio sql.
--Tem de ser criada uma nova coluna e os dados passados para ela
--Dropar a image e rename a nova coluna para document
IF (SELECT [DATA_TYPE] FROM [INFORMATION_SCHEMA].[COLUMNS] WHERE [TABLE_NAME] = 'docums' AND [COLUMN_NAME] = 'document') = 'image'
BEGIN
	SET ANSI_WARNINGS OFF	;
	exec sp_RENAME 'docums.document', 'document_temp' , 'COLUMN';
	exec AlterarCamposTmp 'docums', 'document', 'varbinary', 'VARBINARY(MAX)', '';
	EXECUTE sp_executesql N'UPDATE docums set document = document_temp; ALTER TABLE docums DROP COLUMN document_temp;';
	SET ANSI_WARNINGS ON;
END
ELSE
BEGIN 
	IF (SELECT [DATA_TYPE] FROM [INFORMATION_SCHEMA].[COLUMNS] WHERE [TABLE_NAME] = 'docums' AND [COLUMN_NAME] = 'document') = 'varchar' or (SELECT [DATA_TYPE] FROM [INFORMATION_SCHEMA].[COLUMNS] WHERE [TABLE_NAME] = 'docums' AND [COLUMN_NAME] = 'document') = 'nvarchar'
	BEGIN
		SET ANSI_WARNINGS OFF	;
		exec sp_RENAME 'docums.document', 'document_temp' , 'COLUMN';
		exec AlterarCamposTmp 'docums', 'document', 'varbinary', 'VARBINARY(MAX)', '';
		exec AlterarCamposTmp 'docums', 'docpath', 'varchar', 'VARCHAR(260)', '260';
		EXECUTE sp_executesql N'UPDATE docums set docpath = document_temp; ALTER TABLE docums DROP COLUMN document_temp;';
	END
	ELSE
	BEGIN
		exec AlterarCamposTmp 'docums', 'document', 'varbinary', 'VARBINARY(MAX)', ''
	END
END

	exec AlterarCamposTmp 'docums', 'docpath', 'varchar', 'VARCHAR(260)', '260'

	exec AlterarCamposTmp 'docums', 'tabela', 'varchar', 'VARCHAR(30)', '30'
	exec AlterarCamposTmp 'docums', 'campo', 'varchar', 'VARCHAR(30)', '30'
	exec AlterarCamposTmp 'docums', 'chave', 'varchar', 'VARCHAR(36)', '36'
	exec AlterarCamposTmp 'docums', 'form', 'varchar', 'VARCHAR(8)', '8'
	exec AlterarCamposTmp 'docums', 'nome', 'varchar', 'VARCHAR(255)', '255'
	exec AlterarCamposTmp 'docums', 'versao', 'varchar', 'VARCHAR(10)', '10'
	exec AlterarCamposTmp 'docums', 'tamanho', 'float', 'FLOAT(53)', '10'
	exec AlterarCamposTmp 'docums', 'extensao', 'varchar', 'VARCHAR(5)', '5'
	exec AlterarCamposTmp 'docums', 'opercria', 'varchar', 'VARCHAR(100)', '100'
	exec AlterarCamposTmp 'docums', 'datacria', 'datetime', 'DATETIME', '8'
	exec AlterarCamposTmp 'docums', 'opermuda', 'varchar', 'VARCHAR(100)', '100'
	exec AlterarCamposTmp 'docums', 'datamuda', 'datetime', 'DATETIME', '8'
	exec AlterarCamposTmp 'docums', 'ZZSTATE', 'tinyint', 'TINYINT', '1'
GO

exec CriarTabelaTmp 'FPVpostit','codpostit','I', 6
exec ApagarTodosIndicesTmp 'FPVpostit','FPV','codpostit'
exec AlterarCamposTmp 'FPVpostit', 'tabela', 'varchar', 'VARCHAR(6)', '6'
exec AlterarCamposTmp 'FPVpostit', 'codtabel', 'varchar', 'VARCHAR(32)', '32'
exec AlterarCamposTmp 'FPVpostit', 'postit', 'varchar', 'VARCHAR(255)', '255'
exec AlterarCamposTmp 'FPVpostit', 'tpostit', 'varchar', 'VARCHAR(1)', '1'
exec AlterarCamposTmp 'FPVpostit', 'datacria', 'datetime', 'DATETIME', '8'
exec AlterarCamposTmp 'FPVpostit', 'opercria', 'varchar', 'VARCHAR(100)', '100'

exec AlterarCamposTmp 'FPVpostit', 'codpsw', 'int', 'int', '8'
exec AlterarCamposTmp 'FPVpostit', 'lido', 'datetime', 'DATETIME', '8'
exec AlterarCamposTmp 'FPVpostit', 'apagado', 'datetime', 'DATETIME', '8'
exec AlterarCamposTmp 'FPVpostit', 'validade', 'datetime', 'DATETIME', '8'
exec AlterarCamposTmp 'FPVpostit', 'nivel', 'float', 'FLOAT(53)', '53'

exec AlterarCamposTmp 'FPVpostit', 'codpost1', 'int', 'INT', '6'
exec AlterarCamposTmp 'FPVpostit', 'ZZSTATE', 'tinyint', 'TINYINT', '1'
GO

exec CriarTabelaTmp 'hashcd','codhashcd','I', 6
exec ApagarTodosIndicesTmp 'hashcd','FPV','codhashcd'
exec AlterarCamposTmp 'hashcd', 'tabela', 'varchar', 'VARCHAR(30)', '30'
exec AlterarCamposTmp 'hashcd', 'campos', 'varchar', 'VARCHAR(900)', '900'
exec AlterarCamposTmp 'hashcd', 'datacria', 'datetime', 'DATETIME', '6'
exec AlterarCamposTmp 'hashcd', 'ZZSTATE', 'tinyint', 'TINYINT', '1'
GO

exec CriarTabelaTmp 'FPValerta','codalerta','I', 6
exec ApagarTodosIndicesTmp 'FPValerta','FPV','codalerta'
exec AlterarCamposTmp 'FPValerta', 'codaltent', 'int', 'INT', '6'
exec AlterarCamposTmp 'FPValerta', 'mensagem', 'varchar', 'VARCHAR(100)', '100'
exec AlterarCamposTmp 'FPValerta', 'tratado', 'tinyint', 'TINYINT', '1'
exec AlterarCamposTmp 'FPValerta', 'activo', 'float', 'FLOAT(53)', '1'
exec AlterarCamposTmp 'FPValerta', 'datacria', 'datetime', 'DATETIME', '8'
exec AlterarCamposTmp 'FPValerta', 'datareso', 'datetime', 'DATETIME', '8'
exec AlterarCamposTmp 'FPValerta', 'menu', 'varchar', 'VARCHAR(20)', '20'
exec AlterarCamposTmp 'FPValerta', 'cor', 'varchar', 'VARCHAR(1)', '1'
exec AlterarCamposTmp 'FPValerta', 'interno', 'float', 'FLOAT(53)', '1'
exec AlterarCamposTmp 'FPValerta', 'backgrou', 'int', 'INT', '1'
exec AlterarCamposTmp 'FPValerta', 'sms', 'tinyint', 'TINYINT', '1'
exec AlterarCamposTmp 'FPValerta', 'email', 'tinyint', 'TINYINT', '1'
exec AlterarCamposTmp 'FPValerta', 'emailenv', 'tinyint', 'TINYINT', '1'
exec AlterarCamposTmp 'FPValerta', 'smsenvia', 'tinyint', 'TINYINT', '1'
exec AlterarCamposTmp 'FPValerta', 'codigo', 'varchar', 'VARCHAR(50)', '50'
exec AlterarCamposTmp 'FPValerta', 'codigotp', 'varchar', 'VARCHAR(50)', '50'
exec AlterarCamposTmp 'FPValerta', 'ZZSTATE', 'tinyint', 'TINYINT', '1'
GO

exec CriarTabelaTmp 'FPValtent','codaltent','I', 6
exec ApagarTodosIndicesTmp 'FPValtent','FPV','codaltent'
exec AlterarCamposTmp 'FPValtent', 'codtalert', 'int', 'INT', '6'

exec AlterarCamposTmp 'FPValtent', 'codpsw', 'int', 'INT', '8'
exec AlterarCamposTmp 'FPValtent', 'grupo', 'varchar', 'VARCHAR(30)', '30'
exec AlterarCamposTmp 'FPValtent', 'contador', 'float', 'FLOAT(53)', '5'
exec AlterarCamposTmp 'FPValtent', 'tipo', 'varchar', 'VARCHAR(1)', '1'
exec AlterarCamposTmp 'FPValtent', 'mensagem', 'varchar', 'VARCHAR(50)', '50'
exec AlterarCamposTmp 'FPValtent', 'antecede', 'float', 'FLOAT(53)', '3'
exec AlterarCamposTmp 'FPValtent', 'datainic', 'datetime', 'DATETIME', '8'
exec AlterarCamposTmp 'FPValtent', 'datafina', 'datetime', 'DATETIME', '8'
exec AlterarCamposTmp 'FPValtent', 'dtmodifi', 'datetime', 'DATETIME', '8'
exec AlterarCamposTmp 'FPValtent', 'todos', 'tinyint', 'TINYINT', '1'
exec AlterarCamposTmp 'FPValtent', 'backgrou', 'tinyint', 'TINYINT', '1'
exec AlterarCamposTmp 'FPValtent', 'sms', 'tinyint', 'TINYINT', '1'
exec AlterarCamposTmp 'FPValtent', 'email', 'tinyint', 'TINYINT', '1'

exec AlterarCamposTmp 'FPValtent', 'codtpgru', 'int', 'INT  NOT NULL ', '8'
exec AlterarCamposTmp 'FPValtent', 'codtpess', 'int', 'INT  NOT NULL ', '8'

exec AlterarCamposTmp 'FPValtent', 'menu', 'varchar', 'VARCHAR(20)', '20'
exec AlterarCamposTmp 'FPValtent', 'incluian', 'tinyint', 'TINYINT', '1'
exec AlterarCamposTmp 'FPValtent', 'activo', 'tinyint', 'TINYINT', '1'
exec AlterarCamposTmp 'FPValtent', 'individu', 'tinyint', 'TINYINT', '1'
exec AlterarCamposTmp 'FPValtent', 'ZZSTATE', 'tinyint', 'TINYINT', '1'
GO

exec CriarTabelaTmp 'FPVtalert','codtalert','I',  6
exec ApagarTodosIndicesTmp 'FPVtalert','FPV','codtalert'
exec AlterarCamposTmp 'FPVtalert', 'nome', 'varchar', 'VARCHAR(50)', '50'
exec AlterarCamposTmp 'FPVtalert', 'metodo', 'varchar', 'VARCHAR(50)', '50'
exec AlterarCamposTmp 'FPVtalert', 'priorida', 'varchar', 'VARCHAR(1)', '1'
exec AlterarCamposTmp 'FPVtalert', 'cor', 'varchar', 'VARCHAR(1)', '1'
exec AlterarCamposTmp 'FPVtalert', 'texto', 'varchar', 'VARCHAR(50)', '50'
exec AlterarCamposTmp 'FPVtalert', 'menu', 'varchar', 'VARCHAR(20)', '20'
exec AlterarCamposTmp 'FPVtalert', 'cmpnome', 'varchar', 'VARCHAR(50)', '50'
exec AlterarCamposTmp 'FPVtalert', 'daltinic', 'varchar', 'VARCHAR(20)', '20'
exec AlterarCamposTmp 'FPVtalert', 'daltfina', 'varchar', 'VARCHAR(20)', '20'
exec AlterarCamposTmp 'FPVtalert', 'incluian', 'tinyint', 'TINYINT', '1'
exec AlterarCamposTmp 'FPVtalert', 'diferenc', 'tinyint', 'TINYINT', '1'
exec AlterarCamposTmp 'FPVtalert', 'anodifer', 'float', 'FLOAT(53)', '2'
exec AlterarCamposTmp 'FPVtalert', 'mesdifer', 'float', 'FLOAT(53)', '2'
exec AlterarCamposTmp 'FPVtalert', 'diadifer', 'float', 'FLOAT(53)', '2'
exec AlterarCamposTmp 'FPVtalert', 'ntabmae', 'varchar', 'VARCHAR(50)', '50'
exec AlterarCamposTmp 'FPVtalert', 'ntabfilh', 'varchar', 'VARCHAR(50)', '50'
exec AlterarCamposTmp 'FPVtalert', 'formid', 'varchar', 'VARCHAR(50)', '50'
exec AlterarCamposTmp 'FPVtalert', 'tabela', 'varchar', 'VARCHAR(50)', '50'
exec AlterarCamposTmp 'FPVtalert', 'campo', 'varchar', 'VARCHAR(50)', '50'
exec AlterarCamposTmp 'FPVtalert', 'tipo', 'float', 'FLOAT(53)', '4'
exec AlterarCamposTmp 'FPVtalert', 'modulo', 'varchar', 'VARCHAR(5)', '5'
exec AlterarCamposTmp 'FPVtalert', 'condicao', 'varchar', 'VARCHAR(8000)', '8000'
exec AlterarCamposTmp 'FPVtalert', 'ZZSTATE', 'tinyint', 'TINYINT', '1'
GO

exec CriarTabelaTmp 'FPVdelega','coddelega','I',  6
exec ApagarTodosIndicesTmp 'FPVdelega','FPV','coddelega'
exec AlterarCamposTmp 'FPVdelega', 'codpswup', 'int', 'INT', '8'
exec AlterarCamposTmp 'FPVdelega', 'codpswdw', 'int', 'INT', '8'
exec AlterarCamposTmp 'FPVdelega', 'dateini', 'datetime', 'DATETIME', '8'
exec AlterarCamposTmp 'FPVdelega', 'dateend', 'datetime', 'DATETIME', '8'
exec AlterarCamposTmp 'FPVdelega', 'message', 'varchar', 'VARCHAR(4000)', '4000'
exec AlterarCamposTmp 'FPVdelega', 'revoked', 'tinyint', 'TINYINT', '1'
exec AlterarCamposTmp 'FPVdelega', 'auditusr', 'varchar', 'VARCHAR(100)', '100'
exec AlterarCamposTmp 'FPVdelega', 'opercria', 'varchar', 'VARCHAR(100)', '100'
exec AlterarCamposTmp 'FPVdelega', 'datacria', 'datetime', 'DATETIME', '8'
exec AlterarCamposTmp 'FPVdelega', 'opermuda', 'varchar', 'VARCHAR(100)', '100'
exec AlterarCamposTmp 'FPVdelega', 'datamuda', 'datetime', 'DATETIME', '8'
exec AlterarCamposTmp 'FPVdelega', 'ZZSTATE', 'tinyint', 'TINYINT', '1'
GO



exec CriarTabelaTmp 'FPVTABDINAMIC','codtabdinamic','I', 6
exec AlterarCamposTmp 'FPVTABDINAMIC', 'NOMETABELA', 'varchar', 'VARCHAR(25)', '25'
exec AlterarCamposTmp 'FPVTABDINAMIC', 'NOMECAMPO', 'varchar', 'VARCHAR(25)', '25'
exec AlterarCamposTmp 'FPVTABDINAMIC', 'TIPODADOS', 'varchar', 'VARCHAR(15)', '15'
exec AlterarCamposTmp 'FPVTABDINAMIC', 'TIPOSQL', 'varchar', 'VARCHAR(15)', '15'
exec AlterarCamposTmp 'FPVTABDINAMIC', 'LARGURA', 'int', 'INT', '2'
exec AlterarCamposTmp 'FPVTABDINAMIC', 'ZZSTATE', 'tinyint', 'TINYINT', '1'
GO

USE [W_GnBD]
if not exists(SELECT top 1 name FROM sysobjects where name = 'logFPVpro')
begin
	EXEC ('CREATE TABLE logFPVpro ( [Login] [varchar](100) NULL ) ')
end
exec ApagarTodosIndicesTmp 'logFPVpro','FPV'
exec AlterarCamposTmp 'logFPVpro', 'Login', 'varchar', 'VARCHAR(100)', '100'
exec AlterarCamposTmp 'logFPVpro', 'Data', 'datetime', 'DATETIME', '8'
exec AlterarCamposTmp 'logFPVpro', 'Accao', 'varchar', 'VARCHAR(200)', '200'
GO



exec CriarTabelaTmp 'FPValtran','codaltran','I', 6
exec ApagarTodosIndicesTmp 'FPValtran','FPV','codaltran'
exec AlterarCamposTmp 'FPValtran', 'typlabel', 'varchar', 'VARCHAR(1)', '1'
exec AlterarCamposTmp 'FPValtran', 'referenc', 'varchar', 'VARCHAR(500)', '500'
exec AlterarCamposTmp 'FPValtran', 'language', 'varchar', 'VARCHAR(2)', '2'
exec AlterarCamposTmp 'FPValtran', 'curlabel', 'varchar', 'VARCHAR(500)', '500'
exec AlterarCamposTmp 'FPValtran', 'labellng', 'varchar', 'VARCHAR(500)', '500'
exec AlterarCamposTmp 'FPValtran', 'altran', 'varchar', 'VARCHAR(500)', '500'
exec AlterarCamposTmp 'FPValtran', 'opercria', 'varchar', 'VARCHAR(100)', '100'
exec AlterarCamposTmp 'FPValtran', 'datacria', 'datetime', 'DATETIME', '8'
exec AlterarCamposTmp 'FPValtran', 'opermuda', 'varchar', 'VARCHAR(100)', '100'
exec AlterarCamposTmp 'FPValtran', 'datamuda', 'datetime', 'DATETIME', '8'
exec AlterarCamposTmp 'FPValtran', 'ZZSTATE', 'tinyint', 'TINYINT', '1'
GO



exec CriarTabelaTmp 'FPVworkflowtask','codtask','I',  6
exec ApagarTodosIndicesTmp 'FPVworkflowtask','FPV','codtask'
exec AlterarCamposTmp 'FPVworkflowtask', 'codprcess', 'int', 'INT', '6'

exec AlterarCamposTmp 'FPVworkflowtask', 'taskdefid', 'varchar', 'VARCHAR(50)', '50'
exec AlterarCamposTmp 'FPVworkflowtask', 'taskid', 'varchar', 'VARCHAR(8000)', '8000'
exec AlterarCamposTmp 'FPVworkflowtask', 'performedby', 'varchar', 'VARCHAR(100)', '100'
exec AlterarCamposTmp 'FPVworkflowtask', 'runningsince', 'datetime', 'DATETIME', '8'
exec AlterarCamposTmp 'FPVworkflowtask', 'nextrun', 'datetime', 'DATETIME', '8'
exec AlterarCamposTmp 'FPVworkflowtask', 'modifieddate', 'datetime', 'DATETIME', '8'
exec AlterarCamposTmp 'FPVworkflowtask', 'modifiedby', 'varchar', 'VARCHAR(100)', '100'
exec AlterarCamposTmp 'FPVworkflowtask', 'skipped', 'varchar', 'VARCHAR(30)', '30'
exec AlterarCamposTmp 'FPVworkflowtask', 'isactive', 'varchar', 'VARCHAR(30)', '30'
exec AlterarCamposTmp 'FPVworkflowtask', 'errorExecute', 'int', 'INT', '2'
exec AlterarCamposTmp 'FPVworkflowtask', 'ZZSTATE', 'tinyint', 'TINYINT', '1'
GO



exec CriarTabelaTmp 'FPVworkflowprocess','codprcess','I',  6
exec ApagarTodosIndicesTmp 'FPVworkflowprocess','FPV','codprcess'
exec AlterarCamposTmp 'FPVworkflowprocess', 'prcessid', 'varchar', 'VARCHAR(50)', '50'
exec AlterarCamposTmp 'FPVworkflowprocess', 'prcessdefid', 'varchar', 'VARCHAR(8000)', '8000'
exec AlterarCamposTmp 'FPVworkflowprocess', 'createdby', 'varchar', 'VARCHAR(100)', '100'
exec AlterarCamposTmp 'FPVworkflowprocess', 'status', 'varchar', 'VARCHAR(30)', '30'
exec AlterarCamposTmp 'FPVworkflowprocess', 'startdate', 'datetime', 'DATETIME', '8'
exec AlterarCamposTmp 'FPVworkflowprocess', 'modifieddate', 'datetime', 'DATETIME', '8'
exec AlterarCamposTmp 'FPVworkflowprocess', 'modifiedby', 'varchar', 'VARCHAR(100)', '100'

exec AlterarCamposTmp 'FPVworkflowprocess', 'codinstance', 'int', 'INT', '6'

exec AlterarCamposTmp 'FPVworkflowprocess', 'dotgraph', 'varchar', 'VARCHAR(8000)', '8000'
exec AlterarCamposTmp 'FPVworkflowprocess', 'wferror', 'int', 'INT', '2'
exec AlterarCamposTmp 'FPVworkflowprocess', 'ltask', 'varchar', 'VARCHAR(50)', '50'
exec AlterarCamposTmp 'FPVworkflowprocess', 'idhk', 'varchar', 'VARCHAR(50)', '50'
exec AlterarCamposTmp 'FPVworkflowprocess', 'ZZSTATE', 'tinyint', 'TINYINT', '1'
GO

--Se por alguma razão ainda não existe a tabela de logs, cria-a
IF OBJECT_ID('dbo.logFPVall', 'U') IS NULL
BEGIN
  USE [W_GnBD]
	CREATE TABLE [dbo].[logFPVall](
	  [COD] [varchar](38) NOT NULL,
	  [LOGTABLE] [varchar](50) NULL,
		[LOGFIELD] [varchar](50) NULL,
		[OP] [char](1) NOT NULL,
		[VAL] [varchar](MAX) NULL,
		[DATE] [datetime] NOT NULL,
		[WHO] [varchar](50) NULL
	)
END
GO

IF OBJECT_ID('dbo.PswBlacklist', 'U') IS NULL
BEGIN
	USE [W_GnBD]
	CREATE TABLE PswBlacklist (
		pass VARCHAR(64) PRIMARY KEY CLUSTERED WITH (IGNORE_DUP_KEY = on)
	)
END
GO

exec CriarTabelaTmp 'FPValerts','codalerts','I',6
exec ApagarTodosIndicesTmp 'FPValerts','FPV','codalerts'
exec AlterarCamposTmp 'FPValerts', 'Codpsw', 'int', 'INT', '6'
exec AlterarCamposTmp 'FPValerts', 'Content', 'varchar', 'VARCHAR(8000)', '8000'
exec AlterarCamposTmp 'FPValerts', 'Datacria', 'datetime', 'DATETIME', '8' 
exec AlterarCamposTmp 'FPValerts', 'Datamuda', 'datetime', 'DATETIME', '8' 
exec AlterarCamposTmp 'FPValerts', 'Delay', 'int', 'INT', '5' 
exec AlterarCamposTmp 'FPValerts', 'Dismissable', 'tinyint', 'TINYINT', '1'
exec AlterarCamposTmp 'FPValerts', 'Idalert', 'varchar','VARCHAR(50)', '50'
exec AlterarCamposTmp 'FPValerts', 'Inactive', 'tinyint', 'TINYINT', '1'
exec AlterarCamposTmp 'FPValerts', 'Modulo', 'varchar', 'VARCHAR(10)', '10'
exec AlterarCamposTmp 'FPValerts', 'Nivel', 'varchar', 'VARCHAR(50)', '50'
exec AlterarCamposTmp 'FPValerts', 'Title', 'varchar', 'VARCHAR(500)', '500'
exec AlterarCamposTmp 'FPValerts', 'Type', 'int', 'INT', '1' --enum: success, info, warning, danger
exec AlterarCamposTmp 'FPValerts', 'URL', 'varchar', 'VARCHAR(8000)', '8000'
exec AlterarCamposTmp 'FPValerts', 'ZZSTATE', 'tinyint', 'TINYINT', '1'
GO

exec CriarTabelaTmp 'ReportList','codreport','I', 6
exec ApagarTodosIndicesTmp 'ReportList','FPV','codreport'
exec AlterarCamposTmp 'ReportList', 'REPORT', 'varchar', 'VARCHAR(100)', '100'
exec AlterarCamposTmp 'ReportList', 'SLOTID', 'varchar', 'VARCHAR(100)', '100'
exec AlterarCamposTmp 'ReportList', 'TITULO', 'varchar', 'VARCHAR(120)', '120'
exec AlterarCamposTmp 'ReportList', 'OPERCRIA', 'varchar', 'VARCHAR(100)', '100'
exec AlterarCamposTmp 'ReportList', 'DATACRIA', 'datetime', 'DATETIME', '8'
exec AlterarCamposTmp 'ReportList', 'ZZSTATE', 'tinyint', 'TINYINT', '1'
GO

exec CriarTabelaTmp 'Cavreport','codreport','I', 6
exec ApagarTodosIndicesTmp 'Cavreport','FPV','codreport'
exec AlterarCamposTmp 'Cavreport', 'TITLE', 'varchar', 'VARCHAR(200)', '200'
exec AlterarCamposTmp 'Cavreport', 'ACESSO', 'varchar', 'VARCHAR(50)', '50'
exec AlterarCamposTmp 'Cavreport', 'DATAXML', 'varchar', 'VARCHAR(MAX)', '8000'
exec AlterarCamposTmp 'Cavreport', 'OPERCRIA', 'varchar', 'VARCHAR(100)', '100'
exec AlterarCamposTmp 'Cavreport', 'DATACRIA', 'datetime', 'DATETIME', '8'
exec AlterarCamposTmp 'Cavreport', 'ZZSTATE', 'tinyint', 'TINYINT', '1'
GO


