USE [W_GnBD]
if (2501 > isnull((select versao from [FPVcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'USERLOGIN') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [USERLOGIN] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2501 > isnull((select versao from [FPVcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'ASYNCPROCESS') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [ASYNCPROCESS] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2501 > isnull((select versao from [FPVcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'ASYNCPROCESSARGUMENT') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [ASYNCPROCESSARGUMENT] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2501 > isnull((select versao from [FPVcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'NOTIFICATIONEMAILSIGNATURE') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [NOTIFICATIONEMAILSIGNATURE] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2501 > isnull((select versao from [FPVcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'NOTIFICATIONMESSAGE') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [NOTIFICATIONMESSAGE] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2501 > isnull((select versao from [FPVcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'ASYNCPROCESSATTACHMENTS') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [ASYNCPROCESSATTACHMENTS] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2501 > isnull((select versao from [FPVcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'USERAUTHORIZATION') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [USERAUTHORIZATION] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'FPVMEM') = 0)
	ALTER TABLE [FPVMEM] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'FPVCFG') = 0)
	ALTER TABLE [FPVCFG] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'FPVUSRSET') = 0)
	ALTER TABLE [FPVUSRSET] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'FPVUSRCFG') = 0)
	ALTER TABLE [FPVUSRCFG] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'FPVWKFACT') = 0)
	ALTER TABLE [FPVWKFACT] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'FPVWKFCON') = 0)
	ALTER TABLE [FPVWKFCON] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'FPVWKFLIG') = 0)
	ALTER TABLE [FPVWKFLIG] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'FPVWKFLOW') = 0)
	ALTER TABLE [FPVWKFLOW] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'FPVNOTIFI') = 0)
	ALTER TABLE [FPVNOTIFI] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'FPVSCRCRD') = 0)
	ALTER TABLE [FPVSCRCRD] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'FPVPOSTIT') = 0)
	ALTER TABLE [FPVPOSTIT] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'FPVPRMFRM') = 0)
	ALTER TABLE [FPVPRMFRM] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'FPVALERTA') = 0)
	ALTER TABLE [FPVALERTA] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'FPVALTENT') = 0)
	ALTER TABLE [FPVALTENT] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'FPVTALERT') = 0)
	ALTER TABLE [FPVTALERT] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'FPVDELEGA') = 0)
	ALTER TABLE [FPVDELEGA] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'FPVLSTUSR') = 0)
	ALTER TABLE [FPVLSTUSR] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'FPVLSTCOL') = 0)
	ALTER TABLE [FPVLSTCOL] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'FPVLSTREN') = 0)
	ALTER TABLE [FPVLSTREN] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'FPVUSRWID') = 0)
	ALTER TABLE [FPVUSRWID] REBUILD
GO
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'DOCUMS') = 0)
	ALTER TABLE [DOCUMS] REBUILD
GO
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'hashcd') = 0)
	ALTER TABLE [hashcd] REBUILD
GO