IF((SELECT COUNT(1) FROM FPVcfg) = 0)
	INSERT INTO FPVcfg (codcfg, checkdat, versao, versindx, manutdat, upgrindx, zzstate) VALUES ('     1', GETDATE(), 2504, 0, NULL, 0, 0)
ELSE
  UPDATE FPVcfg set versao = 2504, upgrindx = 0;
GO
